<template>
    <div class="adminmenu">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><span class="ti ti-menu"></span></a>
                    <a href="#/" class="brand-logo left">{{app_name}}</a>
                    
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#" v-on:click.prevent="LogOut" class="sidenav-close"> <span class="ti ti-unlock"></span> LogOut</a></li>
                    </ul>
                    
                </div>
            </nav>          
        </div>
        <ul class="sidenav collapsible collapsible-accordion" id="mobile-demo">
            <div class="row">
                <div class="col s6 brand-logo left">
                    {{app_name}}
                </div>
                <div class="col s6 close_nav right">
                    <a class="right-align sidenav-close" href="#">
                        <span class="ti ti-close"></span>
                    </a>
                </div>
            </div>
        </ul>
    </div>
</template>
<script>
//import MainBase from "@/services/controller/MainBase.js";
import GuestBase from '@/services/controller/GuestBase.js';
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';    

export default {
    name: "adminmenu",
    components: {
    
    },

    data: function(){
        return{
            app_name: this.$appName,
        };
    },
    mounted: function(){
        M.AutoInit();
        
    },
    methods:{
        ...mapActions(['logoutUser_A']),
        LogOut: function(){
            this.logoutUser_A().then(data =>{
                this.$router.push("/");
            });
        }
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    nav{
        .nav-wrapper{
            color: $secondary-color;
            background-color: $primary-color;
            padding-right: 30px;

            a {
                color: #fff;
                font-size: 16px;
            }
        }

    }

    .sidenav{
        background-color: #333 !important;
        color: #fff;
        //font-size: 12px !important;
        .row:nth-child(1){
            padding-bottom: 20px;
            margin-bottom: 0px;
        }
        .brand-logo{
            color: $secondary-color;
            font-weight: bold;
            padding-top: 20px;
            padding-left: 20px;
            font-size: 30px;
        }
        .close_nav{
            font-size: 15px;
            padding-top: 20px;
            text-align: right;
            a{
                color: #fff;
            }
            span{
                font-size: 10px;
            }
        }
        .collapsible{
            margin-left: 10px;
        }
        
        .collapsible-body{
            background-color: #333;
        }

        .collapsible-header:hover, .collapsible-header:focus, 
        li.active .collapsible-header{
            background-color: #eee;
            color: $primary-color !important;
            font-weight: bold;
            font-size: 16px;
        }

        .close_nav a:hover{
            font-weight: bold;
        }
        h2{
            color: #fff;
        }
        text-align: left;
        
        li a{
            color: #eee;
            font-size: 18px;
            padding-left: 12px;
            font-weight: 300;
            //text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.3);
        }

        li a:hover{
            background-color: $secondary-color;
            color: $primary-color;
            font-weight: bold;
            font-size: 16px;
        }
    }
</style>