<template>
    <div class="guestmenu">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#/" data-target="mobile-demo" class="sidenav-trigger show-on-large"><span class="ti ti-menu"></span></a>
                    <a href="#/" v-on:click.prevent="GoHome" class="brand-logo left">
                        {{app_name}}
                    </a>
                    
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/" v-on:click.prevent="GoHome" class="sidenav-close">
                                Home
                            </a>
                        </li>
                        <!-- <li v-for="(menu, index) in menu_options" :key="index">
                            <a v-bind:href="menu.route.path" v-on:click.prevent="NavTo(menu.route)" class="sidenav-close">
                                {{menu.title}}
                            </a>
                        </li> -->
                        <li>
                            <a href="/" v-on:click.prevent="GoGetStarted" class="sidenav-close">
                                Get started / Login
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>          
        </div>
        <ul class="sidenav" id="mobile-demo">
            <div class="row">
                <div class="col s10 brand-logo left">
                    {{ app_name }}
                </div>
                <div class="col s2 close_nav right">
                    <a class="right-align sidenav-close" href="#">
                        <span class="ti ti-close"></span>
                    </a>
                </div>
            </div>
            <li>
                <a href="/" v-on:click.prevent="GoHome" class="sidenav-close">
                    <div class="row">
                        <div class="col s12">
                            Home
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/" v-on:click.prevent="GoGetStarted" class="sidenav-close">
                    <div class="row">
                        <div class="col s12">
                            Get started / Login
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>
<script>
import MainBase from "@/services/controller/MainBase.js";
import GuestBase from '@/services/controller/GuestBase.js';
	
export default {
    name: "guestmenu",
    components: {
    
    },

    data: function(){
        return{
            app_name: this.$appName,
            menu_options: []
        };
    },
    created: function(){
    },
    mounted: function(){
        M.AutoInit();
        MainBase.removeProgressBar();
    },
    methods:{
        NavTo: function(navroute){
            //alert("okay we are good to go now to ", slug);
            //this.$router.push({path: slug});
            if(navroute.name == "home"){
                this.$router.push({name: navroute.name});
            }
            if(navroute.name == "page"){
                this.$router.push({name: navroute.name, params: navroute.params});
            }
            
            if(navroute.name == "post"){
                this.$router.push({name: navroute.name, params: navroute.params});
            }

            if(navroute.name == "posts"){
                this.$router.push({name: navroute.name});
            }

            
            if(navroute.name == "category"){
                this.$router.push({name: navroute.name, params: navroute.params});
            }

            
            if(navroute.name == "categories"){
                this.$router.push({name: navroute.name});
            }
        },
        GoHome: function(){
            //GuestBase.getHomePg();
            this.$router.push({name:'home'});
        },
        GoGetStarted: function(){
            this.$router.push({name:'getstarted'});
        },
        GoProfile: function(){
            this.$router.push({name:'profile', params: {username: 'thankgoduchecril@gmail.com'}});
            //this.$router.push({name: 'getstarted'});
        },
        ContactPage: function(){
            //alert("Hello i am going to contact");
            this.$router.push('contact');
        },
        OurWork: function(){
            this.$router.push('ourwork');
        },
        AboutPage: function(){

            this.$router.push('about');
            //GuestBase.getAboutPg();
            //this.GuestBase.getAboutPage();
        },
        LoginPage: function(){
            this.$router.push('myaccess');
            //GuestBase.getAboutPg();
            //this.GuestBase.getAboutPage();
        },
        CategoriesPage: function(){
            this.$router.push('categories');
        },
        CreateCategory: function(){
            this.$router.push('createcategory');
        },
        NewPost: function(){
            this.$router.push('newpost');
        },
        AllPosts: function(){
            this.$router.push('allposts');
        },
        Dashboard: function(){
            this.$router.push('dashboard');
        },
        ViewUsers: function(){
            this.$router.push('viewuers');
        },
        CreateUser: function(){
            this.$router.push('createuser');
        },
        OurServices: function(){
            this.$router.push('services');
        }
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    .learnbread{
        text-shadow: 2px 1px #000;
        font-weight: bold;
    }

    .sidenav_icon{
        width: 140px;
        height: 90px;
    }
    nav{
        .nav-wrapper{
            color: $secondary-color;
            background-color: $primary-color;
            padding-right: 30px;
            a {
                color: #fff;
                font-size: 16px;
            }
        }

    }

    .sidenav{
        background-color: $tertiary-color !important;
        .row:nth-child(1){
            //border-bottom: solid 1px $primary-color;
            padding-bottom: 20px;
            margin-bottom: 0px;
        }
        .brand-logo{
            color: $primary-color;
            font-weight: bold;
            padding-top: 20px;
            padding-left: 20px;
            font-size: 25px;
            
        }
        .close_nav{
            font-size: 15px;
            padding-top: 20px;
            text-align: right;
            a{
                color: $primary-color;
            }
            span{
                font-size: 10px;
            }
        }
        .collapsible{
            margin-left: 10px;
        }
        .close_nav a:hover{
            background-color: $primary-color;
            color: $tertiary-color;
            padding: 10px;
        }
        h2{
            color: #fff;
        }
        text-align: left;
        
        li a{
            color: #333;
            font-size: 18px;
            padding-left: 12px;
            font-weight: 300;
            //text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.3);
        }

        li a:hover{
            background-color: $secondary-color;
            color: $primary-color;
            font-weight: bold;
            font-size: 16px;
        }
    }
</style>