<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Online Learning Platform | You are Unique, Creative, Extraordinary and have something the world can learn from.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/themify/themify-icons.css">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/animate/animate.css">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/materialize/materialize.min.css">
    <title>Learnbread</title>
    <style>
      .btn-flat:hover{
        background-color:aliceblue !important;
      }
      .swal-modal{
        margin-top: -250px;
        text-align: center !important;
      }

      .browser-default{
        margin-bottom: 10px !important;
      }
      .table_row{
        overflow: auto;
      }
      
      table{
        min-width: 500px !important;
      }

      table th{
        padding: 0px !important;
      }

      table tr td{
        padding: 3px !important;
        border-bottom: 1px solid #000 !important;
      }

      .progress{
        margin: 0px !important;
        background-color: #F28B24 !important;
        position: fixed !important;
        z-index: 9999 !important;
      }

      #onlinestatus{
       z-index: 99999 !important;
       margin: 0px !important;
       position: fixed !important;
       width: 100% !important;
       text-align: center !important;
       display: "none" !important;
      }

      #onlinestatus #onlinestat{
        color: white;
        background-color:green;
        position: absolute !important;
        display: "none" !important;
        z-index: 5 !important;
        width: 100% !important;
      }

      #onlinestatus #offlinestat{
        margin-top: 0px !important;
        color: red;
        position: absolute !important;
        background-color: ghostwhite;
        display: "none" !important;
        z-index: 10 !important;
        width: 100% !important;
      }
    </style>
  </head>
  <body>
    <script src="<%= BASE_URL %>plugin/others/ndiele.js"></script>
    <script src="<%= BASE_URL %>plugin/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>plugin/sweetalert/sweetalert.min.js"></script>
    <noscript>
      <strong>
        We're sorry, you disabled your JavaScript.<br/>
        This platform requires you enable JavaScript from your settings so that you can have a wonderful experience.<br/>
        Please enable it to continue.
      </strong>
    </noscript>
    <div id="progressbar">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <div id="onlinestatus">
      <div id="onlinestat">Connection Back</div>
      <div id="offlinestat">No Connection</div>
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>