<template>
	<div class="categories">
		<MainMenu/>
		<section class="page_banner">
			<div> {{page_data.title}} </div>
            <hr/>
		</section>
        <section class="page_content">
			<div class="row">
				<div class="col s12">
					{{page_data.content}}
				</div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "categories",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data:""
			};
		},
		created: function(){
			let send_data = {
				slug: this.$route.params.slug
			}
			var r_back = MainBase.getPageData(send_data);
			r_back.then(response => {
				if(response.code == 200){
					this.page_data = response.data.page_data;
					//MainBase.scrollTo("top");
				}else{
					this.$router.push("home");
				}
			});
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: $primary-color !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(180deg,#005c7d59 40%,#005c7d7a 67%);
        padding-top: 50px;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
		font-size: 15px;
    }
</style>