<template>
	<div class="category">
		<router-view/>
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div v-if="doc_ready">
				<div class="title"> {{category_data.title}} </div>
				<hr/>
				<div class="description" v-html="category_data.description"></div>
			</div>
		</section>
        <section class="page_content">
			<div class="row">
				<div v-if="doc_ready">
					<div class="col s12 m3" v-for="(post, index) in category_data.posts" :key="index">
						<div class="card">
							<div class="card-image">
								<img :src="post.img">
								<span class="card-title">{{post.title}}</span>
							</div>
							<div class="card-content">
								<div class="line-clamp" v-html="post.content"></div>
							</div>
							<div class="card-action">
								<a v-bind:href="post.category_slug+'/'+post.post_slug" v-on:click.prevent="NavToPost(post)">Know More</a>
							</div>
						</div>
					</div>
				</div>
				<div v-if="!doc_ready">
					<div class="col s12 center">Loading...</div>
				</div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "category",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				category_data:"",
				doc_ready: false
			};
		},
		created: function(){
			this.GetData();
		},
		beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
				this.$route.params.slug = to.params.slug;
				this.GetData();
				next();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		},
		methods: {
			GetData: function(){
				if(this.$route.params.slug){
					let send_data = {
						slug: this.$route.params.slug
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getPageData(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.page_data = response.data.page;
							this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.alert("error", response.message);
							this.$router.push({name: 'home'});
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			NavToPost: function(post){
				this.$router.push({name: 'post', params:{category: post.category_slug, slug: post.slug}});
			},
			GetData: function(){
				if(this.$route.params.slug){
					let send_data = {
						slug: this.$route.params.slug
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getCategoryData(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.category_data = response.data.category;
							this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.aler('error', response.message);
							this.$router.push({name: "home"});
						}
					});
				}else{
					this.$router.push({name: 'home'});
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;

		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
		.description{
			font-size: 14px !important;
		}
	}

    .page_content{
        min-height: 600px;
        padding: 40px;

        /* .line-climp{
			display: -webkit-box !important;
			-webkit-line-clamp: 3 !important;
			-webkit-box-orient: vertical !important;
			overflow: hidden !important;
		} */
		.line-clamp:after {
			background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			bottom: 0;
			content: "...";
			font-weight: bold;
			padding: 0 20px 1px 45px;
			position: absolute;
			right: 0;
		}

		.line-clamp {
			height: 5.6em;
			line-height: 1.4em;
			overflow: hidden;
			position: relative;
			
		}
		.card{
			min-height: 460px !important;
			max-height: 460px !important;

			.card-image{
				img{
					min-height: 255px !important;
					max-height: 255px !important;
				}

				.card-title{
					background-color: $primary-color;
					padding-top: 0 !important;
					padding-bottom: 0px !important;
					font-size: 19px;
					font-weight: bold;
				}
			}
		}
		.card-content{
			min-height: 150px !important;
		}
		.card-action{
			a{
				color: $primary-color !important;
			}
		}
    }

	
@media screen and (max-width: 500px) {
    .page_content {
        padding: 10px 10px 10px 10px;
    }
    .page_banner{
        padding-top: 20px;
		padding-bottom: 20px;
        min-height: 100px;
        .title{
			font-size: 25px;
			font-weight: bold;
		}
    }
}
</style>