<template>
	<div class="createnewpassword">
		<MainMenu/>
        <section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div>
				<div class="title"> Create new password </div>
				<hr/>
                <div class="desc">
                    <p>
                        Please ensure you create a secured password.<br/>
                        Passwords are for you alone.<br/>
                        Never tell anyone your password
                    </p>
                </div>
			</div>
		</section>
        
		<div class="container">
			<div class="row">
                <div class="col s12 m6 box1" v-show="accesstoggle.forgotpassword">
					<div class="row">
                        <div class="col s12"> &nbsp;</div>
                        <div class="input-field col s10 m10">
                            <input placeholder="Enter your password" v-model="resetpassword.pword" id="pword" type="password" class="validate">
                            <label for="pword" class="active">Enter a New Password</label>
                        </div>
						<div class="input-field col s2 m2 show" v-on:click.prevent="showToggle1">
                            <span class="">{{accesstoggle.text}}</span>
                        </div>
						<div class="input-field col s12 m12">	
							<input placeholder="Confirm your password" v-model="resetpassword.confirm_pword" id="pword" type="password" class="validate" v-on:input="ConfirmPassword">
							<label for="pword" class="active">Confirm Password</label>
						</div>
                        <div class="col s12 confirm_pword_error">
							{{resetpassword.confirm_pword_error}}
						</div>
						<div class="col s12 center">
							<button class="btn btn-large" v-on:click.prevent="ProceedCreate" :disabled="resetpassword.btn ? false : true">
								Create Password
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import MainBase from "@/services/controller/MainBase.js";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "createnewpassword",
		components: {
			MainMenu, MainFooter
		},
		computed: {
			...mapGetters({ app_name: 'APP_NAME'}),
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		data: function(){
			return{
				resetpassword: {
					email:'',
					pword: '',
					confirm_pword: '',
					btn: false,
					confirm_pword_error: ''
				},
				accesstoggle:{
					forgotpassword: true,
					signup: false,
					text: "Show"
				},
				signup:{
					fullname: "",
					phone: "",
					email: "",
					pword: "",
					country: "",
					btn: true,
					verify_email: ""
				},
				signup_success:{
					status: false,
					message: ""
				},
				reset_success:{
					status: false,
					message: ""
				}
			};
		},
		created: function(){
			if(!(MainBase.guestUser())){
                this.$router.push({name: 'getstarted'});
			}
		},
		mounted: function(){
			M.AutoInit();
            MainBase.scrollTo("top");
		},
		methods: {
			...mapActions(['updateProcessData_A']),
			...mapActions(['logoutUser_A']),
			ConfirmPassword: function(){
				if(this.resetpassword.confirm_pword === this.resetpassword.pword){
					this.resetpassword.btn = true;
					this.resetpassword.confirm_pword_error = '';
				}else{
					this.resetpassword.btn = false;
					this.resetpassword.confirm_pword_error = "Password does not match";
				}
			},
			ProceedCreate: function(){
				if((this.$route.params.tk) && (this.$route.params.tk.length > 20)){
					if(this.resetpassword.confirm_pword === this.resetpassword.pword){
						if(this.resetpassword.pword.length > 5){
							//MainBase.myConsole("yes we want to login", "yes");
							let send_data = {
								pword: this.resetpassword.pword,
								token: this.$route.params.tk
							}
							this.resetpassword.btn = false;
							MainBase.showProgressBar();
							let r_back = MainBase.createNewPassword(send_data);
							r_back.then(response => {
								if(response.code == 200){
									MainBase.removeProgressBar();
									alert(response.message);
									this.$router.push({name: 'getstarted'});
                                }
                                if(response.code == 400){
									this.resetpassword.btn = true;
									MainBase.removeProgressBar();
                                    MainBase.alert("error", response.message);
                                    MainBase.scrollTo("top");
								}
							});
						}else{
							MainBase.alert("info", "Password too short, minimum password is 6 char");
						}
					}else{
						MainBase.alert("info", "Sorry, Passwords does not match");
					}
				}else{
					MainBase.alert("error", "Something wrong with your link, please check your mail and click the link sent to you");
				}
			},
			MyAccessToggle: function(){
				this.accesstoggle.forgotpassword = !(this.accesstoggle.forgotpassword);
				this.accesstoggle.signup = !(this.accesstoggle.signup);
				MainBase.scrollTo("top");
			},
			showToggle1: function(){
				var elem = document.getElementById("pword");
				var attype = elem.getAttribute("type");
				if( (attype) && (attype == "password")){
					elem.setAttribute("type","text");
					this.accesstoggle.text = "Hide";
				}else{
					elem.setAttribute("type", "password");
					this.accesstoggle.text = "Show";
				}
			},
			showToggle2: function(){
				var elem = document.getElementById("pword2");
				var attype = elem.getAttribute("type");
				if((attype) && (attype == "password")){
					elem.setAttribute("type","text");
					this.accesstoggle.text = "Hide";
				}else{
					elem.setAttribute("type", "password");
					this.accesstoggle.text = "Show";
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

    .page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        .title{
            font-size: 25px !important;
        }
        .desc{
            font-size: 12px !important;
            font-weight: none !important;
        }

        hr{
            width: 40% !important;
            color: white;
        }
	}

	.container{
		min-height: 400px;
		height: 100%;
		.signup_success{
			color: $secondary-color;
			font-weight: bold;
		}
		.confirm_pword_error{
			color: red;
		}
		.box1{
			text-align: left;
			.show{
				padding: 13px 0px 15px 15px;
				cursor: pointer;
				font-size: 12px;
				color: $secondary-color !important;
			}
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
			button{
                width: 100%;
                background-color: $primary-color !important;
			}
		}
	}
    @media screen and (max-width: 500px) {
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
        }
        
        button{
            width: 100% !important;
        }

        .page_content{
            padding: 10px !important;
        }
	}
</style>