<template>
	<div class="donate">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
            <div class="title"> Donate </div>
            <hr/>
		</section>
        <section class="page_content">
			<div class="row">
				<div class="col s12">
                    <h5> Donate to help someone learn </h5>
                    <p>
                        Imagine a world where everyone believes they are unique, creative, extraordinary, and have something the world can learn from.
                    </p>
                    <p>
                        One step at a time, we all can make our communities a better place.
                    </p>
                    <p>
                        To donate, select your currency / enter amount<br/>
                        <select  class="browser-default" type="text" name="country" id="country">
                            <option value="0" selected="selected" disabled> Select Currency </option>
                            <option value="0" selected="" >US Dollar</option>
                            <option value="0" selected="" >British Pounds Sterling</option>
                            <option value="0" selected="" >NGN</option>
                            <option value="0" selected="" >Ghana Cedis</option>
                            <!--option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option-->
                        </select>
                        <br/>
                        <input placeholder="Enter Amount" id="amount" type="text">
                        <button class="btn">Proceed</button>
                    </p>
                </div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "donate",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data: "",
				doc_ready: false
			};
		},
		created: function(){
			
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 500);
		},
		methods: {
			GetData: function(){
				
            },
            GoGetStarted: function(){
                this.$router.push({name: 'getstarted'});
            },
            GoDonate: function(){
                this.$router.push({name: 'donate'});
            }
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
        font-size: 15px;
        
        a{
            color: $primary-color !important;
            text-decoration: underline !important;
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>