<template>
	<div class="expiredlink">
		<MainMenu/>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h1> naa... </h1>
					<p>
						Hello, seems link has expired or already used
					</p>
					<h4>
                        <span class="ti ti-hand-stop"></span> Link Error
                    </h4>
					<p>
						<a href="home" v-on:click.prevent="GoHome">Click here to go Home</a>
					</p>
				</div>
			</div>
		</div>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import MainBase from "@/services/controller/MainBase.js";
	import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "expiredlink",
		components: {
			MainMenu, MainFooter
		},
		computed: {
			...mapGetters({ app_name: 'APP_NAME'}),
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		data: function(){
			return{
				uname:'',
				pword: ''
			};
		},
		created: function(){
			if(!(MainBase.guestUser())){
                this.$router.push({name: 'getstarted'});
			}
		},
		mounted: function(){
			M.AutoInit();
			MainBase.scrollTo("top");
		},
		methods: {
			...mapActions(['updateProcessData_A']),
			GoHome: function(){
				this.$router.push({name: 'home'});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.container{
		min-height: 400px;
		height: 100%;
		h1{
			font-size: 100px;
		}
		
		.box1{
			text-align: left;
			.show{
				padding: 13px 0px 15px 15px;
				cursor: pointer;
				font-size: 12px;
				color: $secondary-color !important;
			}
			h2{
                font-weight: bold;
                color: $secondary-color;
			}
			button{
                width: 100%;
                background-color: $primary-color !important;
			}
		}
	}
</style>