<template>
	<div class="home">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div >
				<h5 class="scale-transition">
					You are <br/>
					<strong>Unique</strong>,
					<strong>Creative</strong>,
					<strong>Extraordinary</strong>,<br/>
					and have something the world can learn from.
				</h5>
			</div>
		</section>
		<section class="brief">
			<div class="row">
				<div class="col s12 m8 center">
					<h4>
						Welcome Home
					</h4>
				</div>
				<div class="col s12 m4 center">
					<h6>
						We want you to find expression where you learn and also make impact.
					</h6><br/>
					<button class="btn" v-on:click.prevent="GoGetStarted"> Get Started </button>
				</div>
			</div>
		</section>
		<section class="organization_values">
			<div class="row">
				<div class="col s12 center">
					<h3><span class="ti ti-medall"></span></h3>
					<hr/>
				</div>
				<div class="col s12 m6 left">
					<h4>
						<span class="ti ti-tag"></span> Our mission
					</h4>
					<p>
						is to give people an enabling environment to learn, thrive and grow sustainably.
					</p>
				</div>
				<div class="col s12 m6 right">
					<h4 class="">
						<span class="ti ti-tag"></span> Our Vision
					</h4>
					<p>
						is that people use {{app_name}} to build communities where everyone can find expression.
					</p>
				</div>
				<div class="col s12 m6 left">
					<h4>
						<span class="ti ti-tag"></span> Integrity
					</h4>
					<p>
						We uphold the highest standards in all we do.
					</p>
				</div>
				<div class="col s12 m6 right">
					<h4 class="">
						<span class="ti ti-tag"></span> Teamwork
					</h4>
					<p>
						We believe that together everyone achieves more.
					</p>
				</div>
				<div class="col s12 m6 left">
					<h4>
						<span class="ti ti-tag"></span> Respect for People
					</h4>
					<p>
						We value our people, care for their safety and encourage their performance.
					</p>
				</div>
				<div class="col s12 m6 right">
					<h4 class="">
						<span class="ti ti-tag"></span> Good Citizenship
					</h4>
					<p>
						We are good citizens in the communities in which we live and work.
					</p>
				</div>
			</div>
		</section>
		<section class="section ourfaq">
			<div class="row">
				<div class="col s12">
					<h4>Understand How Learnbread works</h4>
				</div>
				<div class="col s12">
					<p>
						Click the button below to view the <br/>
						Frequently Asked Questions
					</p>
					<p>
						<a class="btn" href="https://faq.learnbread.com">
							View FAQ
						</a>
					</p>
				</div>
			</div>
		</section>
		<section class="testimonies" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div class="row">
				<div class="col s12 center">
					<h5>What are they saying ?</h5>
					<span> Your reviews are important. </span>
					<hr/>
				</div>
				<div v-if="doc_ready">
					<div class="col s12 quotes card">
						<div class="testifiers" v-for="(testimony, index) in testimonies" :key="index">
							<div class="description">
								"{{testimony.description}}"
							</div>
							<!-- <div> 
								<span class="author">~ {{testimony.author}}</span><br/>
								<span class="portfolio">({{testimony.portfolio}})</span>
							</div> -->
						</div>
					</div>
				</div>
				<div v-if="!doc_ready">
					<div class="col s12 center">Loading...</div>
				</div>
			</div>
		</section>
		<section class="section partners">
			<div class="row">
				<div class="col s12">
					<h4>Partners</h4>
				</div>

				<div class="col s12 m4 " v-for="(partner, index) in partner_data.partners" :key="index">
					<div class="brand_img">
						<img :src="partner_data.base_img_url + partner.img">
					</div>
				</div>
			</div>
		</section>
		
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src

	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import MainBase from '@/services/controller/MainBase.js';

	export default {
		name: "home",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				image_id: "",
				doc_ready: true,
				testifier_slide_counter: 0,
				testimonies: [
					{
                        author: "Emmanuel Chukwu",
                        description: "I have long anticipated an opportunity where I can learn and also make impact. I am glad it is here.",
                        portfolio: "Teacher, Entrepreneur"
                    },
                    {
                        author: "Loveth Ogbuji",
                        description: "Learnbread made it easy for me to reach and also teach my students. This is a great platform.",
                        portfolio: "CEO Easylink Concepts"
                    },
                    {
                        author: "John Joseph",
                        description: "With learnbread I can now learn from different minds, and also share my experience with them.",
                        portfolio: "Writer, Author, Teacher"
                    }
				],
				partner_data: {
					base_img_url: "./images/",
					partners: [
						{
							name: "YouTube",
							img: "youtube.png"
						},
						{
							name: "Google",
							img: "google.png"
						}
					]
				}
			};
		},
		beforeDestroy() {
			clearInterval(this.$testimonyslidercounter);
		},
		created: function(){
			if(MainBase.userLoggedIn()){
				let dp_data = JSON.parse(localStorage.getItem('process_data'));
				if(dp_data){
					let username  = dp_data.data.user.username;
					this.$router.push({name: 'timeline', params:{username: username}});
				}
			}
		},
		mounted: function(){
			M.AutoInit();			
			this.$testimonyslidercounter = setInterval(this.showTestifiers, 8000);
			MainBase.scrollTo("top");
		},
		methods: {
			NavToPost: function(post){
				//this.$router.push({name: 'post', params:{slug: pslug}});
				this.$router.push({name: 'post', params:{slug: 'post.slug', category: 'Hello'}});
				
			},
			NavToPage:function(page_slug){
				this.$router.push({name: 'page', params:{slug: page_slug}});
			},
			GoGetStarted: function(){
				this.$router.push({name: 'getstarted'});
			},
			NavToAllPosts: function(){
				this.$router.push({name: 'posts'});
			},
			showTestifiers: function() {
				let nos_i;
				let slides = document.getElementsByClassName("testifiers");
				for (nos_i = 0; nos_i < slides.length; nos_i++) {
					slides[nos_i].style.display = "none";  
				}
				this.testifier_slide_counter++;
				if (this.testifier_slide_counter > slides.length) {this.testifier_slide_counter = 1}    
				slides[this.testifier_slide_counter-1].style.display = "block";
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	
	.row{
		margin-bottom: 0px !important;
		//padding: 20px !important;
	}
	.page_banner{
		color: antiquewhite !important;
		font-size: 25px;
		min-height: 400px;
		text-align: center !important;
		padding: 80px;
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

		h5{
			font-size: 1.5rem;
			line-height: 151%;
		}

		strong{
			font-size: 40px;
		}
        
        
	}
	.brief{
		background-color: $secondary-color;
		color: white;
		padding: 50px;
		
	}
	.organization_values{
		padding: 50px 50px 0px 50px;
		hr{
			width: 50%;
		}
		.right{
			text-align: right !important;
			padding: 30px;
		}

		.left{
			padding: 30px;
		}

		h4{
			font-size: 30px !important;
		}
	}
	.testimonies{
		background-color: $primary-color;
		color: white;
		
        //background-image: linear-gradient(180deg,#005c7d59 40%,#005c7d7a 67%);
		hr{
			width: 50%;
			color: white;
		}
		min-height: 310px;
		padding: 20px;
		.card{
			min-height: 350px;
			color: $primary-color;
			background-color: $tertiary-color !important;
		}
		.quotes{
			padding:30px 50px 30px 50px;
			text-align: center;
			.author{
				font-weight: bold;
				font-size: 15px;
			}
			.description{
				font-size: 25px;
				font-style: italic;
			}

			.testifiers{
				display: none;
			}
		}
	}
	.partners{
		text-align: center;
		
		img{
			max-width: 200px;
			max-height: 80px;
			height: 100px;
		}
	}

	.ourfaq{
		text-align: center !important;
		background-color: white !important;
	}

		
	@media screen and (max-width: 500px) {
		.page_banner{
			color: antiquewhite !important;
			font-size: 25px;
			padding: 30px;
			background-color: $primary-color !important;
			text-align: left !important;
			min-height: 120px;

			h5{
				font-size: 1.9rem;
				line-height: 130%;
			}

			strong{
				font-size: 40px;
			}
			
			
		}
	}
</style>