<template>
	<div class="myactivated">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div>
				<div class="title"> Get Started </div>
				<hr/>
			</div>
		</section>
        <section class="page_content">
            <div class="row" v-show="accesstoggle.login">
                <div class="col s12 m4 offset-m4">
                    <div class="col s12 center">
                        <h5>Account Activated <br/> Login to proceed</h5>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Enter Email address" v-model="login.uname" id="uname" type="text" class="validate">
                        <label for="uname" class="active">Email address</label>
                    </div>
                    <div class="input-field col s10 m10">
                        <input placeholder="Enter your password" v-model="login.pword" id="pword" type="password" class="validate">
                        <label for="pword" class="active">Password</label>
                    </div>
                    <div class="input-field col s2 m2 show" v-on:click.prevent="showToggle1">
                        <span class="">{{accesstoggle.text}}</span>
                    </div>
                    <div class="col s12 center">
                        <button class="btn " v-on:click.prevent="ProceedLogin" :disabled="login.btn ? false : true">
                            Login
                        </button>
                    </div>
                    <div class="col s12 other_option">
                        <br/>
                        Don't have an account ? 
                        <a href="/createaccount" v-on:click.prevent="MyAccessToggle"> Create an account here</a>
                    </div>
                    <div class="col s12 other_option">
                        Forgot password ?<br/>
                        <a href="/forgotpassword" v-on:click.prevent="ForgotPassword"> Recover password here</a>
                    </div>
                </div>
            </div>
            <div class="row" v-show="accesstoggle.recover">
                <div class="col s12 reset_success" v-if="reset_p_success.status">
                    <h5> Done! check mail to reset</h5>
                    <p>
                        A reset email has been sent to: <strong>{{ reset_p_success.verify_email }}</strong>.<br/>
                        Open this email and click the link to reset your password.
                    </p>
                </div>
                <div class="col s12 m4 offset-m4">
                    <div class="col s12 center">
                        <h5>Forgot Password ?</h5>
                        <p>
                            Please provide the email you registered with, a password reset link will be sent to you. 
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Enter Email address" v-model="reset_p.email" id="username" type="text" class="validate">
                        <label for="username" class="active">Email address</label>
                    </div>
                    <div class="col s12 center">
                        <button class="btn " v-on:click.prevent="RecoverChannel" :disabled="reset_p.btn ? false : true">
                            Reset Password
                        </button>
                    </div>
                    <div class="col s12 other_option">
                        <br/>
                        Ohhh, remembered my password ? 
                        <a href="/login" v-on:click.prevent="MyLoginAccess"> Login </a>
                    </div>
                </div>
            </div>
            <div class="" v-show="accesstoggle.signup">
                <div class="row">
                    <div class="col s12 signup_success" v-if="signup_success.status">
                        <h5> Done! check mail to activate</h5>
                        <p>
                            A verification email has been sent to: <strong>{{ signup.verify_email }}</strong>.<br/>
                            Open this email and click the link to activate your account.
                        </p>
                    </div>
                    <div class="col s12 m4 offset-m4">
                        <div class="col s12 center">
                            <h5>Create your channel</h5>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="What is your fullname" v-model="signup.fullname" id="fullname" type="text" class="validate">
                            <label for="fullname" class="active">Fullname</label>
                        </div>
                        <div class="input-field col s4">
                            <select  class="browser-default" type="text" name="country" id="country" v-model="signup.country">
                                <option value="0" selected="selected" disabled="disabled" > Your Country </option>
                                <option v-bind:key="country.id" v-for="country in our_countries" :value="country.id">{{country.title}}</option>
                            </select>
                        </div>
                        <div class="input-field col s8">
                            <input placeholder="What is your Email" v-model="signup.email" id="email" type="email" class="validate">
                            <label for="email" class="active">Email (verification link will be sent)</label>
                        </div>
                        <div class="input-field col s10 m10">
                            <input placeholder="Create your password" v-model="signup.pword" id="pword2" type="password" class="validate">
                            <label for="pword" class="active">Password</label>
                        </div>
                        <div class="input-field col s2 m2 show" v-on:click.prevent="showToggle2">
                            <span class="">{{accesstoggle.text}}</span>
                        </div>
                        <div class=" col s12 m12">
                            <p class="other_option">
                                <label v-on:click.prevent="IAgreeToPolicy()">
                                    <input type="checkbox" class="filled-in" v-model="signup.iagree"/>
                                    <span class="other_option">I agree to the&nbsp;</span>
                                </label>
                                <span><a href="#" v-on:click.prevent="GoPolicy">policies</a>, <a href="#" v-on:click.prevent="GoPolicy">terms and conditions</a></span>
                            </p>
                        </div>
                        <div class="col s12 center">
                            <button class="btn" v-on:click.prevent="ProceedCreate" :disabled="signup.btn ? false : true">
                                Create
                            </button>
                        </div>
                        <div class="col s12 other_option">
                            <br/>
                            Already have an account ? <a href="#/myaccess" v-on:click.prevent="MyAccessToggle"> Login Here</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
    import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "myactivated",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data: "",
                doc_ready: false,
                our_countries: "",
                login: {
					uname:'',
					pword: '',
					btn: true
				},
                reset_p: {
                    email: '',
                    verify_email:'',
                    btn: true
                },
                reset_p_success:{
                    status: false
                },
				accesstoggle:{
					login: true,
                    signup: false,
                    recover: false,
					text: "Show"
				},
				signup:{
					fullname: "",
					phone: "",
					email: "",
					pword: "",
					country: "0",
					btn: true,
                    verify_email: "",
                    iagree: false
				},
				signup_success:{
					status: false,
					message: ""
				}
			};
        },
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
            var r_back = MainBase.getCountries();
            r_back.then(response => {
                if(response.code == 200){
                    this.our_countries = response.data.countries;
                    //MainBase.removeProgressBar();
                    //MainBase.scrollTo("top");
                }
            });
            if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    this.$router.push({name: 'timeline', params:{username: this.process_d.data.user.username}});
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 500);
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
            IAgreeToPolicy: function(){
                this.signup.iagree = !this.signup.iagree;
            },
            ProceedCreate: function(){
                if(!(this.signup.fullname.length < 5)){
                    if(!((this.signup.country == '0') || this.signup.country == '')){
                        if(this.signup.email.length > 10){
                            if((this.signup.email.split("@")[1]) == "gmail.com"){
                                if(!(this.signup.pword.length < 6)){
                                    if(this.signup.iagree){
                                        MainBase.showProgressBar();
                                        this.signup.verify_email = this.signup.email;
                                        this.signup.btn = false;
                                        var r_back = MainBase.createChannel(this.signup);
                                        r_back.then(response => {
                                            MainBase.removeProgressBar();
                                            if(response.code == 200){
                                                this.signup.btn = true;
                                                this.signup_success.status = true;
                                                MainBase.scrollTo("top");
                                                
                                                //this.our_countries = response.data.countries;
                                                //MainBase.removeProgressBar();
                                            }else{
                                                MainBase.alert(response.status, response.message);
                                                this.signup.btn = true;
                                            }
                                        });

                                    }else{
                                        MainBase.alert("warning", "Please read our policies, terms and conditions, then check the box if you agree to proceed.");
                                    }
                                }else{
                                    MainBase.alert("warning", "Sorry, your Password should be minimum of 6 characters");
                                }
                            }else{
                                MainBase.alert("warning", "Please we only accept Gmail address");
                            }
                        }else{
                            MainBase.alert("warning", "Please ensure your Email is correct");
                        }

                    }else{
                        MainBase.alert("warning", "Please select your Country");
                    }
                }else{
                    MainBase.alert("warning", "Please provide a valid Fullname");
                }
            },
			GetData: function(){
				
            },
            GoPolicy: function(){
                this.$router.push({name: 'policy'});
            },
            MyAccessToggle: function(){
				this.accesstoggle.login = !(this.accesstoggle.login);
                this.accesstoggle.signup = !(this.accesstoggle.signup);
                this.accesstoggle.recover = false;
                this.login.uname = "";
                this.login.pword = "";
                this.signup.fullname = "";
                this.signup.phone = "";
                this.signup.email = "";
                this.signup.pword = "";
                this.signup.country = "0";
                this.signup_success.status = false;
                this.login.btn = true;
                this.signup.btn = true;
                MainBase.scrollTo("top");
                MainBase.removeProgressBar();
            },

            MyLoginAccess: function(){
                this.accesstoggle.login = true;
                this.login.btn = true;
                this.signup.btn = true;
                
                this.signup.fullname = "";
                this.signup.phone = "";
                this.signup.email = "";
                this.signup.pword = "";
                this.signup.country = "0";
                this.signup_success.status = false;
                this.accesstoggle.signup = false;
                this.accesstoggle.recover = false;
                MainBase.scrollTo("top");
                MainBase.removeProgressBar();
            },
            
            ForgotPassword: function(){
                this.accesstoggle.recover = true;
                this.accesstoggle.login = false;
                this.accesstoggle.signup = false;
                this.login.uname = "";
                this.login.pword = "";
                this.signup.fullname = "";
                this.signup.phone = "";
                this.signup.email = "";
                this.signup.pword = "";
                this.signup.country = "0";
                this.signup_success.status = false;
                MainBase.scrollTo("top");
            },

            RecoverChannel: function(){
                if(this.reset_p.email.length > 10){
                    if((this.reset_p.email.split("@")[1]) == "gmail.com"){
                        MainBase.showProgressBar();
                        this.reset_p.btn = false;
                        this.reset_p_success.status = false;
                        var r_back = MainBase.recoverChannel(this.reset_p);
                        r_back.then(response => {
                            MainBase.removeProgressBar();
                            if(response.code == 200){
                                this.reset_p.btn = true;
                                this.reset_p_success.status = true;
                                this.reset_p_success.verify_email = this.reset_p.email;
                                MainBase.scrollTo("top");
                            }else{
                                MainBase.alert(response.status, response.message);
                                this.reset_p.btn = true;
                            }
                        });
                    }else{
                        MainBase.alert("warning", "Please we only accept Gmail address");
                    }
                }else{
                    MainBase.alert("warning", "Please ensure your Email is correct");
                }
                //this.$router.push({name: 'resetaccess'});
            },
			showToggle1: function(){
				var elem = document.getElementById("pword");
				var attype = elem.getAttribute("type");
				if( (attype) && (attype == "password")){
					elem.setAttribute("type","text");
					this.accesstoggle.text = "Hide";
				}else{
					elem.setAttribute("type", "password");
					this.accesstoggle.text = "Show";
				}
			},
			showToggle2: function(){
				var elem = document.getElementById("pword2");
				var attype = elem.getAttribute("type");
				if( (attype) && (attype == "password")){
					elem.setAttribute("type","text");
					this.accesstoggle.text = "Hide";
				}else{
					elem.setAttribute("type", "password");
					this.accesstoggle.text = "Show";
				}
            },
            ProceedLogin: function(){
                if(this.login.uname.length > 4){
                    if(this.login.pword.length > 5){
                        //MainBase.myConsole("yes we want to login", "yes");
                        let send_data = {
                            uname: this.login.uname,
                            pword: this.login.pword
						}
						this.login.btn = false;
						MainBase.showProgressBar();
                        let r_back = MainBase.userLogin(send_data);
                        r_back.then(response => {
                            if(response.code == 200){
								this.updateProcessData_A(response).then(data =>{
                                    if(response.data.user.username){
                                        this.login.btn = true;
                                        MainBase.alert(response.status, response.message);
                                        MainBase.removeProgressBar();
                                        this.$router.push({name: 'timeline', params:{username: response.data.user.username}});
                                    }else{
                                        this.login.btn = true;
                                        MainBase.alert("warning", "Something wrong with your data, please contact the admin");
                                    }
								});
                            }else{
								this.login.btn = true;
								MainBase.removeProgressBar();
                                MainBase.alert(response.status, response.message);
                            }
                        });

                    }else{
                        MainBase.alert("warning", "Password too short, minimum password is 6 char");
                    }
                }else{
                    MainBase.alert("warning", "Please provide a valid email");
                }
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
        font-size: 15px;
        
        .show{
            padding: 13px 0px 15px 15px;
            cursor: pointer;
            font-size: 12px;
            color: $secondary-color !important;
        }

        .other_option{
            font-size: 13px !important;
        }
        a{
            color: $primary-color !important;
            text-decoration: underline !important;
        }

        button{
            width: 100% !important;
        }

        input, select{
            font-size: 11px !important;
        }
        .input-field{
            margin-bottom: 0px !important;
        }
        .signup_success{
            background-color: beige !important;
        }
        .reset_success{
            background-color: beige !important;
        }
    }

	@media screen and (max-width: 500px) {
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
        }
        
        button{
            width: 100% !important;
        }

        .page_content{
            padding: 10px !important;
        }
	}
</style>