<template>
	<div class="notfound">
		<MainMenu/>
		<section class="section not_found">
			<div class="center">
                <h3>:) :) 404..</h3>
				<p>
					How did we get here ? &nbsp;
					<a href="home" v-on:click.prevent="NavToHome">Click here</a> to go back home
				</p>
            </div>
            <hr/>
		</section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "notfound",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data:""
			};
		},
		created: function(){
			
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		},
		methods: {
			NavToHome: function(){
				this.$router.push({name: 'home'});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: $primary-color !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(180deg,#005c7d59 40%,#005c7d7a 67%);
        padding-top: 50px;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
		font-size: 15px;
    }
</style>