<template>
	<div class="ourcommunity">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
            <div class="title"> Our Community </div>
            <hr/>
		</section>
        <section class="page_content">
			<div class="row">
				<div class="col s12">
                    <h5> {{app_name}} </h5>
                    <p>
                        {{app_name}} is a company that believes everyone is unique, creative, extraordinary and have something the world can learn from.
						We do our best to give everyone an enabling environment to learn, thrive, and grow sustainably.
                    </p>
                    <p>
                        The solutions we provide are to serve you and help meet your needs.
						So join our community, send us a message, and be part of what we believe.
                    </p>
                    <p>
                        Our vision is that people use learnbread to build communities where everyone can find expression.
                    </p>
                    <p>
                        Our mission is to give people an enabling environment to learn, thrive, and grow sustainably.
                    </p>

					<h5>Understand how Learnbread works</h5>
					<p> 
						To understand how Learnbread works, how you can learn, how you can earn while learning, and also make impact
						<a href="https://faq.learnbread.com">
							Click here
						</a>
					</p>

					<h5>Tell a friend</h5>
                    <p>
                        You can share to everyone you care about. Let them know about {{app_name}} and how we care so much about them finding expression wherever they find themselves.
                    </p>
					<p>
						"We become leaders the day we decide to help others grow".
					</p>
					<p>
                        With one step at a time, we can make our communities a better place.
                    </p>
					<p>Thank you.</p>
                </div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "ourcommunity",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data: "",
				doc_ready: false
			};
		},
		created: function(){
			
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 500);
		},
		methods: {
			GetData: function(){
				
            },
            GoGetStarted: function(){
                this.$router.push({name: 'getstarted'});
            },
            GoDonate: function(){
                this.$router.push({name: 'donate'});
            }
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
        font-size: 15px;
        
        a{
            color: $primary-color !important;
            text-decoration: underline !important;
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>