<template>
	<div class="page">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div v-if="doc_ready">
				<div class="title"> {{page_data.title}} </div>
				<hr/>
			</div>
		</section>
        <section class="page_content">
			<div class="row" v-if="doc_ready">
				<div class="col s12" v-html="page_data.content"></div>
			</div>
			<div v-if="!doc_ready" class="row">
				<div class="col s12 center">Loading...</div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "page",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data: "",
				doc_ready: false
			};
		},
		created: function(){
			this.GetData();
		},
		beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
				this.$route.params.slug = to.params.slug;
				//this.GetData();
				next();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
			GetData: function(){
				if(this.$route.params.slug){
					let send_data = {
						slug: this.$route.params.slug
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getPageData(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.page_data = response.data.page;
							this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.alert("error", response.message);
							this.$router.push({name: 'home'});
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
		font-size: 15px;
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>