<template>
	<div class="policy">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
            <div class="title"> Our policy </div>
            <hr/>
		</section>
        <section class="page_content">
			<div class="row">
				<div class="col s12">
                    <h5> {{app_name}} Policy</h5>
					<p>
						The purpose of this policy is to ensure that you support the company's mission, values, and goals.
					</p>

                    <p>
                        Your rights and data are protected.
                    </p>
                    <p>
                        You can Join Our Community via our social media handle.
                    </p>
                    <p>
                        This policy will be updated soon. Terms and Conditions apply.
                    </p>
                </div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "policy",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data: "",
				doc_ready: false
			};
		},
		created: function(){
			
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 500);
		},
		methods: {
			GetData: function(){
				
            },
            GoGetStarted: function(){
                this.$router.push({name: 'getstarted'});
            },
            GoDonate: function(){
                this.$router.push({name: 'donate'});
            }
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
        font-size: 15px;
        
        a{
            color: $primary-color !important;
            text-decoration: underline !important;
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>