<template>
	<div class="posts">
		<MainMenu/>
		<section class="page_banner">
			<div> {{posts_data.title}} </div>
            <hr/>
		</section>
        <section class="page_content">
            <div class="row">
                <div v-if="doc_ready">
					<div class="col s12 m3" v-for="(post, index) in posts_data.posts" :key="index">
						<div class="card">
							<div class="card-image">
							<img :src="base_img_url + post.img">
							<span class="card-title">{{post.title}}</span>
							</div>
							<div class="card-content">
							<p>
								{{post.description}}
							</p>
							</div>
							<div class="card-action">
								<a v-bind:href="'post/'+post.slug" v-on:click.prevent="NavToPost(post)">Read Now</a>
							</div>
						</div>
					</div>
					<div class="col s12 center">
						<a href="/posts" class="btn" v-on:click.prevent="NavToAllPosts()">More</a>
					</div>
				</div>
				<div v-if="!doc_ready">
					<div class="col s12 center">Loading...</div>
				</div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "posts",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
                app_name: this.$appName,
                posts_data:{
                    title: "Posts",
                    posts: []
                },
                base_img_url: "",
				doc_ready: false
			};
        },
        created: function(){
            let send_data = {
				slug: this.$route.params.slug
			}
			var r_back = MainBase.getPostsData(send_data);
			r_back.then(response => {
				if(response.code == 200){
                    this.posts_data.posts = response.data.posts;
					this.base_img_url = response.data.base_img_url;
					this.doc_ready = true;
				}else{
					this.$router.push("home");
				}
			});
        },
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
        },
        methods: {
            NavToPost: function(post){
				this.$router.push({name: 'post', params:{category: post.category, slug: post.slug}});
            },
            NavToAllPosts: function(){
				this.$router.push({name: 'posts'});
			}
        }
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: $primary-color !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(180deg,#005c7d59 40%,#005c7d7a 67%);
        padding-top: 50px;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
        padding: 40px;

        
		.card{
			min-height: 460px !important;
			max-height: 460px !important;

			.card-image{
				img{
					min-height: 255px !important;
					max-height: 255px !important;
				}

				.card-title{
					background-color: $primary-color;
					padding-top: 0 !important;
					padding-bottom: 0px !important;
					font-size: 19px;
					font-weight: bold;
				}
			}
		}
		.card-action{
			a{
				color: $primary-color !important;
			}
		}
    }
</style>