<template>
	<div class="resetaccess">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div>
				<div class="title"> Create new password </div>
				<hr/>
			</div>
		</section>
        <section class="page_content">
            <div class="row">
                <div class="col s12 m4 offset-m4">
                    <div class="col s12 center">
                        <p>
                            Create your new password.
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Enter New Password" v-model="login.uname" id="uname" type="text" class="validate">
                        <label for="uname" class="active">New Password</label>
                    </div>
                    <div class="input-field col s10 m10">
                        <input placeholder="Enter the new password" v-model="login.pword" id="pword" type="password" class="validate">
                        <label for="pword" class="active">Enter the new Password to confirm</label>
                    </div>
                    <div class="input-field col s2 m2 show" v-on:click.prevent="showToggle1">
                        <span class="">{{accesstoggle.text}}</span>
                    </div>
                    <div class="col s12 center">
                        <button class="btn " v-on:click.prevent="ProceedLogin" :disabled="login.btn ? false : true">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "resetaccess",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				page_data: "",
                doc_ready: false,
                login: {
					uname:'',
					pword: '',
					btn: true
				},
				accesstoggle:{
					login: true,
                    signup: false,
                    recover: false,
					text: "Show"
				}
			};
		},
		created: function(){
			
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		},
		methods: {
			GetData: function(){
				
            },
            showToggle1: function(){
				var elem = document.getElementById("pword");
				var attype = elem.getAttribute("type");
				if( (attype) && (attype == "password")){
					elem.setAttribute("type","text");
					this.accesstoggle.text = "Hide";
				}else{
					elem.setAttribute("type", "password");
					this.accesstoggle.text = "Show";
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		color: antiquewhite !important;
        min-height: 200px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
        font-size: 15px;
        
        .show{
            padding: 13px 0px 15px 15px;
            cursor: pointer;
            font-size: 12px;
            color: $secondary-color !important;
        }

        .other_option{
            font-size: 13px !important;
        }
        a{
            color: $primary-color !important;
            text-decoration: underline !important;
        }

        button{
            width: 100% !important;
        }

        input, select{
            font-size: 13px !important;
        }
    }

	@media screen and (max-width: 500px) {
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
        }
        
        button{
            width: 100% !important;
        }

        .page_content{
            padding: 10px !important;
        }
	}
</style>