<template>
    <div class="mainmenu">
        <div v-if="process_d.data == undefined">
            <GuestMenu/>
        </div>
        <div v-if="process_d.data">
            <div v-if="process_d.data.user.role == 'Guest'">
                <GuestMenu/>
            </div>
            <div v-if="process_d.data.user.role == 'User'">
                <UserMenu/>
            </div>
            <div v-if="process_d.data.user.role == 'Admin'">
                <AdminMenu/>
            </div>
        </div>        
    </div>
</template>
<script>
import GuestMenu from "@/components/menu/GuestMenu.vue";
import UserMenu from "@/components/menu/UserMenu.vue";
import AdminMenu from "@/components/menu/AdminMenu.vue";
import MainBase from "@/services/controller/MainBase.js";
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';    

export default {
    name: "mainmenu",
    components: {
        GuestMenu, AdminMenu, UserMenu
    },

    data: function(){
        return{
            app_name: this.$appName
        };
    },
    computed: {
        ...mapGetters({ process_d: 'PROCESS_DATA_G'}),
    },
    created: function(){
        //MainBase.compactibleDevice();
        if(MainBase.adminLoggedIn() || MainBase.userLoggedIn()){
            let dp_data = JSON.parse(localStorage.getItem('process_data'));
            if(dp_data){
                this.updateProcessData_A(dp_data);
            }
        }
    },
    mounted: function(){
        M.AutoInit();
    },
    methods: {
        ...mapActions(['updateProcessData_A']),
        Hello: function(){
            
        }
    }
};
</script>
<style lang="scss" scoped>
</style>