<template>
    <div class="mainfooter">
        <section class="top_footer">
            <div>
                <p> If you can believe, <br/>all things are possible to them that believe.</p>
            </div>
        </section>
        <footer class="page-footer">
            <div v-if="process_d.data == undefined">
                <GuestFooter/>
            </div>
            <div v-if="process_d.data">
                <div v-if="process_d.data.user.role == 'Guest'">
                    <GuestFooter/>
                </div>
                <div v-if="process_d.data.user.role == 'User'">
                    <UserFooter/>
                </div>
                <div v-if="process_d.data.user.role == 'Admin'">
                    <AdminFooter/>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © {{year}} {{ app_name }}
                </div>
            </div>
        </footer>
    </div>
</template>
<script>
import GuestFooter from "@/components/footer/GuestFooter.vue";
import UserFooter from "@/components/footer/UserFooter.vue";
import AdminFooter from "@/components/footer/AdminFooter.vue";
import MainBase from "@/services/controller/MainBase.js";
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';    

export default {
    name: "mainfooter",
    components: {
        GuestFooter, AdminFooter, UserFooter
    },

    data: function(){
        return{
            app_name: this.$appName,
            year: ''
        };
    },
    computed: {
        ...mapGetters({ process_d: 'PROCESS_DATA_G'}),
    },
    created: function(){
        this.year = new Date().getFullYear();
        if(MainBase.adminLoggedIn() || MainBase.userLoggedIn()){
            let dp_data = JSON.parse(localStorage.getItem('process_data'));
            if(dp_data){
                this.updateProcessData_A(dp_data);
            }
        }
    },
    mounted: function(){
        M.AutoInit();
    },
    methods: {
        ...mapActions(['updateProcessData_A']),
        Hello: function(){
            
        },
        NavToPage:function(page_slug){
            this.$router.push({name: 'page', params:{slug: page_slug}});
        }
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    .top_footer{
		color: $primary-color !important;
        min-height: 150px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }    
    .page-footer{
        //text-align: center !important;
        
        background-color: $secondary-color;
        
        p{
            font-size: 16px;
            color: #fff;
        }
        .links{
            font-size: 20px;
        }

        .footer-copyright{
            text-align: center !important;
        }
        .whatsapp{
            color: green;
            background-color: white;
            padding: 5px;
            font-size: 12px;
        }
    }
</style>



