<template>
    <div class="adminfooter">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h6 class="white-text">
                        We offer a unique combination of multiple disciplinary 
                        capabilities in the aquaculture industry and various agricultural sector
                    </h6>
                    <p class="grey-text text-lighten-4">
                        <button class="btn btn-flat">Send Us a Message</button>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12 center">
                    <h6 class="white-text">Our Social Media Links</h6>
                    <div class="row links">
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://www.facebook.com/learnbread/">
                                <span class="ti ti-facebook ti-large"></span>
                            </a>
                        </div>
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://www.instagram.com/learnbread">
                                <span class="ti ti-instagram"></span>
                            </a>
                        </div>
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://www.twitter.com/learnbread">
                                <span class="ti ti-twitter"></span>
                            </a>
                        </div>
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://wa.me/">
                                <span class="ti ti-comment"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
//import MainBase from "@/services/controller/MainBase.js";
import GuestBase from '@/services/controller/GuestBase.js';
	
export default {
    name: "adminfooter",
    components: {
    
    },

    data: function(){
        return{
            app_name: this.$appName,
        };
    },
    mounted: function(){
        M.AutoInit();
        
    },
    methods:{
        
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    a{
        color: $primary-color !important;
        font-weight: bold;
    }

    .btn{
        background-color: #ffff57;
        color: $primary-color;
    }

    .links{
        font-size: 30px;
    }
</style>