<template>
    <div class="guestfooter">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div>
                        <img src="/images/icon.png" class="learnbread_icon">
                    </div>
                    <h6 class="community_hint">
                        Just as an athlete takes pleasure in being physically active, also an entreprenuer takes pleasure in engaging his/her mind in entreprenuerial ways.
                    </h6>
                    <p class="grey-text text-lighten-4">
                        <button class="btn" v-on:click.prevent="GoOurCommunity">Know More About us</button>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12 center">
                    <h6 class="white-text">Our Social Media Links</h6>
                    <div class="row links">
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://www.facebook.com/learnbread/">
                                <span class="ti ti-facebook ti-large"></span>
                            </a>
                        </div>
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://www.instagram.com/learnbread">
                                <span class="ti ti-instagram"></span>
                            </a>
                        </div>
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://www.twitter.com/learnbread">
                                <span class="ti ti-twitter"></span>
                            </a>
                        </div>
                        <div class="col s3">
                            <a class="grey-text text-lighten-3" href="https://wa.me/">
                                <span class="ti ti-comment"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
//import MainBase from "@/services/controller/MainBase.js";
import GuestBase from '@/services/controller/GuestBase.js';
	
export default {
    name: "guestfooter",
    components: {
    
    },

    data: function(){
        return{
            app_name: this.$appName,
        };
    },
    mounted: function(){
        M.AutoInit();
        
    },
    methods:{
        GoOurCommunity: function(){
            this.$router.push({name: 'ourcommunity'});
        }
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    a{
        color: $primary-color !important;
        font-weight: bold;
    }

    .links{
        font-size: 30px;
    }
    .learnbread_icon{
        width: 50px;
        height: 40px;
    }
    .community_hint{
        color: $tertiary-color;
    }
</style>