<template>
	<div class="buybread">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div class="title"> Buy bread</div>
            <div class="description">
                You dont' need to go far, buy it here.
            </div>
		</section>
        <section class="page_content">
			<div class="main_content">
				<div class="row myoptions">
					<div class="col s12 myoption_title">
                        price: 1pcs = {{buy_settings.rate}} {{buy_settings.currency}}
                    </div>
				</div>
                <div  class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <div v-if="buying_stage_pending">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="first_message">
                                            <a href="https://flutterwave.com/store/learnbread">Click here</a> to buy your pcs of bread from our Online store. You can also <a :href="leanrbread_message_link">Send us a message</a> here.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div v-if="buying_stage.stageone">
                                <div class="input-field">
                                    <div>How many pcs do you want to buy ?</div>
                                    <input id="buy_pcs" type="text" v-model="buy_pcs" class="validate">
                                </div>
                                <div class="input-field">
                                    <div class="shipping-charge">
                                        <label>
											Transaction fee from flutterwave payment gateway may apply.
											Alternatively, visit any store close to you to buy some bread.
										</label>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <button class="btn" v-on:click.prevent="GoStageTwo">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "buybread",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
                app_name: this.$appName,
                leanrbread_message_link: "https://wa.me/message/A2BO27GWRLR6F1",
                learnbread_page_link: "https://wa.me/message/A2BO27GWRLR6F1",
                buying_stage_pending: true,
				buying_stage:{
                    stageone: false,
                    stagetwo: false,
                    stagethree: false
                },
                buy_pcs: 1000,
                buy_settings:{
                    rate: '1',
                    currency: 'NGN',
                    min: '1000',
                    max: '5000'
                },
                buy_tx:{
                    buy_pcs: "",
                    buy_total: ""
                },
                buy_btn: true
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    MainBase.removeProgressBar();
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
            
			GoStageTwo: function(){
                if(isNaN(this.buy_pcs)){
                    MainBase.alert("warning", "Sorry you can only buy whole pieces and ensure you provide the pcs in numbers");
                }else{
                    if(Number(this.buy_pcs) >= Number(this.buy_settings.min)){
                        if(Number(this.buy_pcs) <= Number(this.buy_settings.max)){
                            this.buy_tx.buy_pcs = Number(this.buy_pcs);
							this.buy_tx.buy_total = Number(this.buy_pcs) * Number(this.buy_settings.rate);
							alert("Flutterwave can help payments here. "+this.buy_tx.buy_total);
                            
                        }else{
                            MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", the highest pcs you can buy now is "+Number(this.buy_settings.max).toLocaleString()+"pcs.");
                        }
                    }else{
                        MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", the minimum you can buy for now is "+Number(this.buy_settings.min).toLocaleString()+"pcs");
                    }
                }
			},
            GoBuybread: function(){

            }
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
        min-height: 400px;
		font-size: 15px;
		padding: 2px 0px 10px 0px;
        
        .first_message{
            font-size: 20px !important
        }
        
        .main_content{
            
            a{
                color: $primary-color !important;
                text-decoration: underline !important;
            }
			.myoptions{
                margin-bottom: 0px !important;
                .myoption_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: antiquewhite !important;
                    font-size: 12px;
                    text-align: center;
                }				
			}
            .card{
                input #buy_pcs{
                    font-size: 30px !important;
                    color: $primary-color;
                }
                margin: 0px !important;
                border-radius: 0px !important;
                .card-content{
                    .ti-check{
                        border: 1px $primary-color solid !important;
                        border-radius: 100% !important;
                        padding: 15px !important;
                        background-color: $primary-color !important;
                        color: white;
                    }
                    padding: 20px 5px !important; 
                    font-size: 14px !important;
                    .shipping-charge{
                        color: $primary-color;
                        overflow: hidden !important;
                    }
                    .total_sell{
                        font-weight: bold !important;
                        background-color: $tertiary-color !important;
                    }
                    .sell_complete{
                        text-align: center !important;
                        color: $primary-color;
                    }
                }
                .card-action{
                    padding: 5px !important; 
                    font-size: 14px !important;
                    color: $primary-color !important;
                    span{
                        cursor: pointer !important;
                    }
                    .rating{
                        text-align: left;
                    }
                    .btn_options{
                        text-align: right;
                    }
                }
            }
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 2px 0px 10px 0px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>