<template>
	<div class="usercategories">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div v-if="doc_ready">
				<div class="username">
                    <span>@{{user_username}}</span>
                </div>
                <div class="">
                    <label> Categories </label>
                </div>
			</div>
		</section>
        <section class="page_content">
			<div class="row main_content">
                <div  class="col s12 m3" v-for="(u_cat, index) in user_categories" :key="index">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{u_cat.title}}</span>
                            <div v-html="u_cat.description"></div>
                        </div>
                        <div class="card-action">
                            <a href="#" v-on:click.prevent="GoLearningZone(u_cat.slug)">View Notes</a>
                            <label><span class="ti ti-eye"></span> {{u_cat.views}}</label>
                        </div>
                    </div>
                </div>
            </div>
			<div v-if="!doc_ready" class="row">
				<div class="col s12 center">Loading...</div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";

	export default {
		name: "usercategories",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
                user_username: "",
                user_categories: "",
				doc_ready: false
			};
		},
		created: function(){
            this.GetUserCategories();
		},
		beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
				this.$route.params.username = to.params.username;
				this.GetProfileData();
				next();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
			GetUserCategories: function(){
                if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserCategories(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.user_username = this.$route.params.username;
                            this.user_categories = response.data.categories;
                            this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.alert("error", response.message);
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'notfound'})
				}
			},
			GoLearningZone: function(l_category){
				this.$router.push({name: 'learningzone', params:{username: this.user_username, category:l_category}});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        .username{
            span{
                font-style: italic !important;
                font-weight: bold;
            }
        }

        label{
            color: #ccc !important;
        }
        img{
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
        }
		color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
		font-size: 15px;
        
        .all_stat{
            .stat{
                padding-right: 0px !important;
                padding-left: 2px !important;
            }
        }
        .stat_value{
            font-size: 14px !important;
            font-weight: bold;
        }

        .main_content{
            .card-action{
                a{
                    color: $primary-color !important;
                }
            }
            .card{
                height: 100%;
                min-height: 150px !important;
                //overflow: scroll;

                .card-content{
                    max-height: 150px;
                    height: 100%;
                    overflow: hidden;
                }
            }

        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}

            .about{
                padding: 0px 20px 0px 20px !important;
            }
		}
	}
</style>