<template>
	<div class="editprofile">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div class="title"> Edit Profile</div>
            <div class="bio">
                You are unique, creative, extraordinary, and have something the world can learn from.
            </div>
		</section>
        <section class="page_content">
			<div class="main_content">
				<div  class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <div v-if="sending_stage.stageone">
								<div class="row">
                                    <!-- <div class="col s12 m12" v-show="showDefault">
                                        <img alt="no-image" class="featuredimg_view" :src="edit_profile.img" v-if="showDefault"><br/>
                                        <a href="#" v-on:click.prevent="ChangeImageToggle"> Edit image </a>
                                    </div>
                                    <div v-show="!showDefault">
                                        <div class="col s12">
                                            <a href="#" v-on:click.prevent="ChangeImageToggle"> Use Previous Image </a>
                                        </div>
                                        <div class="input-field col s12 m12">
                                            <label for="userimg" class="active">New image URL</label>
                                            <input id="userimg" type="text" v-model="edit_profile.img" class="validate" placeholder="example: https://imageurl.com/ADKJ134DAD.jpg"/>
                                        </div>
                                    </div> -->
                                    <div class="col s12">
                                        <h5>Update Bio</h5>
                                    </div>
									<div class="input-field col s12">
                                        <label for="useremail" class="active">Email (not editable)</label>
										<input id="useremail" type="text" v-model="edit_profile.email" class="validate" placeholder="Your email" disabled="disabled"/>
									</div>
									<div class="input-field col s12">
                                        <label for="userfullname" class="active">Fullname</label>
										<input id="userfullname" type="text" v-model="edit_profile.fullname" class="validate" placeholder="Enter Fullname"/>
									</div>
									<div class="input-field col s12">
                                        <label for="userusername" class="active">Username</label>
										<input id="userusername" type="text" v-model="edit_profile.username" class="validate" placeholder="Enter username"/>
									</div>
                                    
									<div class="input-field col s12">
                                        <label class="active" for="update_profile_bio">Bio about your channel ({{edit_profile.bio.length}}/60)</label>
                                        <textarea id="update_profile_bio" class="materialize-textarea" placeholder="Describe your channel" v-model="edit_profile.bio"></textarea>
									</div>
									<div class="input-field col s12">
										<button class="btn" v-on:click.prevent="GoUpdateBio" :disabled="savebio.btn ? false : true">Save Bio</button>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "editprofile",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				sending_stage:{
                    stageone: true,
                },
                edit_profile: {
                    img: "noimage.jpg",
					email: 'thankgoducehcyril@gmail.com',
                    fullname: 'ThankGod Cyril',
					username: 'cyril_thankgod',
                    bio: "Providing solution to the world. Jesus Loves me."
                },
                savebio:{
                    btn: true
                },
                showPreview: false,
				showDefault: true,
                imagePreview: ""
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    MainBase.removeProgressBar();
                    if(this.process_d.hasOwnProperty('data')){
                        if(this.process_d.data.hasOwnProperty('user')){
                            if(this.process_d.data.user.hasOwnProperty('username')){
                                let u_data = this.process_d.data.user;
                                this.edit_profile.img = u_data.img;
                                this.edit_profile.fullname = u_data.fullname;
                                this.edit_profile.email = u_data.email;
                                this.edit_profile.username = u_data.username;
                                this.edit_profile.bio = u_data.bio
                                //console.log("our process d is ", this.process_d);
                                //this.$router.push({name:'editprofile', params: {username: this.process_d.data.user.username}});
                            }else{
                                this.$router.push({name: 'home'});
                            }
                        }else{
                            this.$router.push({name: 'home'});
                        }
                    }else{
                        this.$router.push({name: 'home'});
                    }
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
            ...mapActions(['logoutUser_A']),
        
            ChangeImageToggle(){
				this.showDefault = !(this.showDefault);
            },
            GoStageOne: function(){
                this.CloseAllStage();
                this.sending_stage.stageone = true;
                MainBase.scrollTo("top");
            },
            GoUpdateBio: function(){
                if(!(this.edit_profile.fullname.length < 5)){
                    if(!(this.edit_profile.username.length < 6)){
                        var our_str_format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
                        if(!(our_str_format.test(this.edit_profile.username))){
                            if(!(this.edit_profile.bio.length < 10)){
                                if(!(this.edit_profile.bio.length > 60)){
                                    MainBase.showProgressBar();
                                    this.savebio.btn = false;
                                    var r_back = MainBase.updateChannel(this.edit_profile);
                                    r_back.then(response => {
                                        MainBase.removeProgressBar();
                                        if(response.code == 200){
                                            this.savebio.btn = true;
                                            MainBase.scrollTo("top");
                                            MainBase.alert(response.status, response.message);

                                            this.updateProcessData_A(response).then(data =>{
                                                if(response.data.user.username){
                                                    this.$router.push({name:'profile', params: {username: response.data.user.username}});
                                                }
                                            });
                                        }
                                        if(response.code == 400){
                                            MainBase.alert(response.status, response.message);
                                            this.savebio.btn = true;
                                        }
                                        if(response.code == 401){
                                            MainBase.alert(response.status, response.message);
                                            this.savebio.btn = true;
                                            this.GoLogout();
                                        }
                                    });
                                }
                            }else{
                                MainBase.alert("warning", "Please your bio should be minimum of 10 characters so people can easily understand what your channel is all about.");
                            }
                        }else{
                            MainBase.alert("warning", "Please your username should not contain any special character or space");
                        }
                    }else{
                        MainBase.alert("warning", "Sorry, your username should be minimum of 6 characters");
                    }
                }else{
                    MainBase.alert("warning", "Please provide a valid Fullname");
                }
            },
            CloseAllStage: function(){
                for (const key in this.sending_stage) {
                    if (this.sending_stage.hasOwnProperty(key)) {
                        this.sending_stage[key] = false;
                    }
                }
            },
            GoBuybread: function(){

            },
            GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
        min-height: 400px;
		font-size: 15px;
		padding: 2px 0px 10px 0px;
        
        .main_content{
			.myoptions{
                margin-bottom: 0px !important;
                .myoption_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: antiquewhite !important;
                    font-size: 12px;
                    text-align: center;
                }				
			}
            .card{
                input, textarea {
                    font-size: 12px !important;
                    color: $primary-color;
                }
                margin: 0px !important;
                border-radius: 0px !important;
                .card-content{
                    label{
                        font-weight: bold !important;
                    }
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    padding: 10px 5px !important; 
                    font-size: 12px !important;
					
                    .shipping-charge{
                        color: $primary-color;
                        overflow: hidden !important;
                    }
					.input-field{
						//margin: 0px !important;
					}
                    .total_sell{
                        font-weight: bold !important;
                        background-color: $tertiary-color !important;
                    }
                    .sell_complete{
                        text-align: center !important;
                        color: $primary-color;
                    }
                }
                .card-action{
                    padding: 5px !important; 
                    font-size: 14px !important;
                    color: $primary-color !important;
                    span{
                        cursor: pointer !important;
                    }
                    .rating{
                        text-align: left;
                    }
                    .btn_options{
                        text-align: right;
                    }
                }
            }
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 2px 0px 10px 0px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>