<template>
	<div class="learningzone">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div v-if="doc_ready">
				<div class="title">
                    {{teacher_category}}
                </div>
                <div class="description">
                    <label> @{{teacher_username}} </label>
                </div>
			</div>
		</section>
        <section class="page_content">
			<div class="row main_content" v-if="doc_ready">
                <div class="col s12 user_instruction">
                    <span class="user_instruction_span" v-show="doc_ready">
                        <span class="ti ti-bell"></span> {{teacher_instruction}}
                    </span>
                </div>
                <div  class="col s12 m12">
                    <div class="card class-not-started" v-if="!class_started">
                        <div class="card-content">
                            <span class="card-title">
                                <span class="ti ti-info-alt"></span> Quick Info
                            </span>
                            <div class="description-text" v-html="teacher_category_description"></div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-small" href="#" v-on:click.prevent="StartTakingNote()">Start Learning</button>
                        </div>
                    </div>
                    <div class="card class-started" v-if="class_started">
                        <div class="card-content">
                            <div v-if="current_note_type.text">
                                <div class="note_type_div">
                                    <span class="started-card-title">
                                        Text
                                    </span>
                                </div>
                                <div class="text_content">
                                    {{current_note}}
                                </div>
                            </div>
                            <div v-if="current_note_type.anchor">
                                <div class="note_type_div">
                                    <span class="started-card-title">
                                        Audio
                                    </span>
                                </div>
                                <div>
                                    {{current_note}}
                                </div>
                            </div>
                            <div v-if="current_note_type.youtube">
                                <div class="note_type_div">
                                    <span class="started-card-title">
                                        Video
                                    </span>
                                </div>
                                
                                <div>
                                    <div class="video-container">
                                        <iframe width="853" height="480" :src="current_note_base+current_note" frameborder="0" allowfullscreen></iframe>
                                    </div>    
                                </div>
                            </div>
                            <div v-if="current_note_type.unsplash">
                                <div class="note_type_div">
                                    <span class="started-card-title">
                                        Image
                                    </span>
                                </div>
                                <div>
                                    {{current_note}}
                                </div>
                            </div>
                        </div>
                        <div class="card-action" v-show="doc_ready">
                            <div v-if="category_type.random">
                                <div v-show="!next_click">
                                    <button class="btn btn-small" v-on:click.prevent="ReadNextNote()">NEXT</button>
                                </div>
                                <div v-show="next_click">
                                    <button class="btn btn-small">NEXT</button>
                                </div>
                            </div>
                            <div v-if="category_type.series">
                                <button class="btn btn-small" v-show="!previous_click"  v-on:click.prevent="ReadPreviousNote()">PREV</button>
                                <button class="btn btn-small" v-show="previous_click">PREV</button> &nbsp; &nbsp;
                                <button class="btn btn-small" v-show="!next_click" v-on:click.prevent="ReadNextNote()" >NEXT</button>
                                <button class="btn btn-small" v-show="next_click">NEXT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
    import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "learningzone",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
                teacher_username: "",
                teacher_id: "",
                teacher_category: "",
                teacher_category_id: "",
                category_type: {
                    random: false,
                    series: true
                },
                teacher_instruction: "",
                teacher_category_description: "",
                teacher_category_type: "",
                teacher_category_type_id: "",
                teacher_category_amount: "",
                class_started: false,
                doc_ready: false,
                last_note_id: "0",
                go_where: "Next",
                current_note_base: "https://youtube.com/embed/",
                current_note:"",
                current_note_type:{
                    text: false,
                    youtube: true,
                    anchor: false,
                    unsplash: false
                },
                next_click: true,
                previous_click: true
				
			};
        },
        beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
                this.$route.params.username = to.params.username;
                this.GetLearningZoneData();
				next();
			}
        },
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
            if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    if(this.$route.params.username){
                        if(!(this.$route.params.username == this.process_d.data.user.username)){
                            this.GetLearningZoneData();
                        }else{
                            if(this.$route.params.category){
                                this.$router.push({name: 'notes', params:{username: this.$route.params.username, category: this.$route.params.category}});
                            }else{
                                this.$router.push({name: 'home'});
                            }
                        }
                    }else{
                        this.$router.push({name: 'home'});
                    }
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
			...mapActions(['logoutUser_A']),
        
			GetLearningZoneData: function(){
                if((this.$route.params.username) && (this.$route.params.category)){
                    this.user_username = this.$route.params.username;
                    this.last_note_id = "0";
                    let send_data = {
                        slug: this.$route.params.category,
                        cat_id: this.$route.params.cat_id
                    }
                    this.doc_ready = false;
                    MainBase.showProgressBar();
                    var r_back = MainBase.getLearningZoneCatData(send_data);
                    r_back.then(response => {
                        if(response.code == 200){
                            this.teacher_username = this.$route.params.username;
                            this.teacher_id = response.data.category.user_id;
                            this.teacher_category = response.data.category.title;
                            this.teacher_category_id = response.data.category.id;
                            this.teacher_instruction = "Each note in this category is "+ Number(response.data.category.amount).toLocaleString() +"pcs";
                            this.teacher_category_amount = Number(response.data.category.amount);
                            this.teacher_category_description = response.data.category.description;
                            this.teacher_category_type = response.data.category.category_type;
                            this.teacher_category_type_id = response.data.category.category_type_id;
                            if(response.data.category.category_type == "Random"){
                                this.category_type.random = true;
                                this.category_type.series = false;
                            }
                            if(response.data.category.category_type == "Series"){
                                this.category_type.series = true;
                                this.category_type.random = false;
                            }
                            this.doc_ready = true;
                            MainBase.removeProgressBar();
                            if(response.hasOwnProperty('utfa')){
                                MainBase.updateProcessDataString("utfa", response.utfa)
                            }
                        }
                        if(response.code == 400){
                            this.$router.push({name: 'profile', params: {username: this.$route.params.username}});
                            MainBase.removeProgressBar();
                            //this.$router.push({name: 'home'});
                        }
                        if(response.code == 401){
                            MainBase.alert(response.status, response.message);
                            this.GoLogout();
                            MainBase.removeProgressBar();
                        }
                    });
                }else{
					this.$router.push({name: 'home'})
				}
            },
            ReadPreviousNote: function(){
                MainBase.dismissAlert();
                this.go_where = "Previous";
                this.previous_click = true;
                this.StartTakingNote();
            },
            ReadNextNote: function(){
                MainBase.dismissAlert();
                this.go_where = "Next";
                this.next_click = true;
                this.StartTakingNote();
            },
			StartTakingNote: function(){
                MainBase.dismissAlert();
                if(this.process_d){
                    if(this.process_d.hasOwnProperty('data')){
                        if(this.process_d.data.hasOwnProperty('user')){
                            if(this.process_d.data.user.hasOwnProperty('store')){
                                if(Number(this.process_d.data.user.store) >= (this.teacher_category_amount)){
                                    let send_data = {
                                        slug: this.$route.params.username,
                                        last_note_id: this.last_note_id,
                                        category_type: this.teacher_category_type,
                                        category_type_id: this.teacher_category_type_id,
                                        teacher_id: this.teacher_id,
                                        cat_id: this.teacher_category_id,
                                        go_where: this.go_where
                                    }
                                    MainBase.showProgressBar();
                                    var r_back = MainBase.readNextNote(send_data);
                                    r_back.then(response => {
                                        this.next_click = false;
                                        this.previous_click = false;
                                        if(response.code == 200){
                                            if(response.data.note.hasOwnProperty('content')){
                                                if(response.data.note.hasOwnProperty('id')){
                                                    this.last_note_id = response.data.note.id;
                                                    this.class_started = true;
                                                    
                                                    if(response.data.note.note_type == "Text"){
                                                        this.current_note = response.data.note.content;
                                                    
                                                        this.current_note_type.text = true;
                                                        this.current_note_type.youtube = false;
                                                        this.current_note_type.anchor = false;
                                                        this.current_note_type.unsplash = false;
                                                    }
                                                    if(response.data.note.note_type == "Video"){
                                                        this.current_note = response.data.note.content;
                                                    
                                                        this.current_note_type.text = false;
                                                        this.current_note_type.youtube = true;
                                                        this.current_note_type.anchor = false;
                                                        this.current_note_type.unsplash = false;
                                                    }
                                                    if(response.data.hasOwnProperty('gift')){
                                                        if(Number(response.data.gift) > 0){
                                                            MainBase.alert("info", Number(response.data.gift)+"pcs gift from Learnbread. Keep learning.");
                                                        }
                                                    }
                                                }
                                                
                                            }else{
                                                this.user_have_channel = false;
                                                MainBase.alert("warning", response.message)
                                            }
                                            MainBase.removeProgressBar();
                                            if(response.hasOwnProperty('utfa')){
                                                MainBase.updateProcessDataString("utfa", response.utfa)
                                            }
                                        }
                                        if(response.code == 400){
                                            MainBase.alert(response.status, response.message);
                                            MainBase.removeProgressBar();
                                        }
                                        if(response.code == 401){
                                            MainBase.alert(response.status, response.message);
                                            this.GoLogout();
                                            MainBase.removeProgressBar();
                                        }
                                    });
                                }else{
                                    MainBase.scrollTo("top");
                                    MainBase.alert("warning", "Sorry you do not have sufficient bread in your store. Go to Marketplace to buy some bread.");
                                }
                            }else{
                                this.GoLogout();
                            }
                        }else{
                            this.GoLogout();
                        }
                    }else{
                        this.GoLogout();
                    }
                }else{
                    this.GoLogout();
                }
            },
            GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        .title{
            font-weight: bold;
            font-size: 90% !important;
        }

        .description{
            label{
                font-size: 20px !important;
                color: #ccc !important;
            }
        }
        img{
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
        }
		color: antiquewhite !important;
        min-height: 50px !important;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
		font-size: 15px;
        background-color: lightgray !important;

        .description-text{
            font-size: 20px !important;
        }
        .text_content{
            font-size: 20px !important;
        }
        .note_type_div{
            text-align: right !important;
        }
        
        .all_stat{
            .stat{
                padding-right: 0px !important;
                padding-left: 2px !important;
            }
        }
        .stat_value{
            font-size: 14px !important;
            font-weight: bold;
        }

        .main_content{
            .user_instruction{
                .user_instruction_span{
                    background-color: white !important;
                    padding: 5px;
                    border-radius: 5px;
                    color: $primary-color !important;
                }
                font-size: 12px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                //text-decoration: underline;
                color: $secondary-color;
            }
            .card-action{
                background-color: white;
                text-align: center;
                a{
                    color: $primary-color !important;
                }
            }
            .class-not-started{
                background-color: $primary-color !important;
                color: white !important;
            }
            .class-started{
                background-color: white !important;
                color: black !important;
            }
            .card{
                overflow: hidden;
                
                //overflow: scroll;

                .card-content{
                    min-height: 340px;
                    overflow: scroll;
                    padding-bottom: 10px;
                    line-height: 1.9;
                }

                .started-card-title{
                    color: $primary-color;
                    font-size: 10px;
                    background-color: #ccc;
                    padding: 3px;
                    border-radius: 3px;
                    font-weight: bold;
                }
            }

        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
            .card-content{
                min-height: 300px !important;
                max-height: 320px !important;
                height: 100% !important;
            }

            .video-container{
                min-height: 250px !important;
            }
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 20px;
				font-weight: bold;
			}

            .description{
                label{
                    font-size: 14px !important;
                    color: #ccc !important;
                }
            }
		}
	}
</style>