<template>
	<div class="marketplace">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div class="title"> Marketplace</div>
            <div class="description">
                Giving you all you need, to have a better experience
            </div>
		</section>
        <section class="page_content">
			<div class="main_content">
				<div class="row myoptions">
					<div class="col s12 myoption_title">
                        Options
                    </div>
					<div  class="">
                        <div class="card">
                            <div class="card-content" v-on:click.prevent="GoSendbread()">
                                <div class="row">
                                    <div class="col s2 m1 option_img">
                                        <span class="ti ti-user"></span>
                                    </div>
                                    <div class="col s9 m10 option_info">
                                        <strong class="bold option_name">Send bread to a friend</strong><br/>
                                        <span class="option_description">Share bread with your friends</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div  class="">
                        <div class="card">
                            <div class="card-content" v-on:click.prevent="GoScoutbread">
                                <div class="row">
                                    <div class="col s2 m1 option_img">
                                        <span class="ti ti-car"></span>
                                    </div>
                                    <div class="col s9 m10 option_info">
                                        <strong class="bold option_name">Scout for bread</strong><br/>
                                        <span class="option_description">Do you need more bread ? Scout here</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="">
                        <div class="card">
                            <div class="card-content" v-on:click.prevent="GoBuybread">
                                <div class="row">
                                    <div class="col s2 m1 option_img">
                                        <span class="ti ti-shopping-cart"></span>
                                    </div>
                                    <div class="col s9 m10 option_info">
                                        <strong class="bold option_name">Buy bread</strong><br/>
                                        <span class="option_description">You don't need to go far, buy it from our Online Store here.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="">
                        <div class="card">
                            <div class="card-content" v-on:click.prevent="GoSellbread">
                                <div class="row">
                                    <div class="col s2 m1 option_img">
                                        <span class="ti ti-credit-card"></span>
                                    </div>
                                    <div class="col s9 m10 option_info">
                                        <strong class="bold option_name">Sell bread</strong><br/>
                                        <span class="option_description">We will help you sell your bread</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "marketplace",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				profile_data: "",
				user_categories: "",
				doc_ready: false,
				user_have_categories: false,
				is_my_profile: false
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
					this.updateProcessData_A(dp_data);
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
				console.log("this is to ", to);
				console.log("and this is from ", from);
				this.$route.params.username = to.params.username;
				this.GetProfileData();
				next();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
			...mapActions(['updateProcessData_A']),
			GoEditProfile: function(){

			},
			GoNotes: function(category){

            },
            GoBuybread: function(){
				this.$router.push({name: 'buybread'});
            },
            GoSellbread: function(){
				this.$router.push({name: 'sellbread'});
            },
            GoScoutbread: function(){
				this.$router.push({name: 'scoutbread'});
            },
            GoSendbread: function(){
				this.$router.push({name: 'sendbread'});
            },
			GoLearningZone: function(l_category){
				this.$router.push({name: 'learningzone', params:{username: this.$route.params.username, category:l_category}});
			},
			GetProfileData: function(){
                if((this.$route.params.username) && (this.$route.params.username.length > 3)){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserProfile(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.profile_data = response.data.profile;
							this.doc_ready = true;
							MainBase.removeProgressBar();
							if(this.profile_data.username == this.process_d.data.user.username){
								this.is_my_profile = true;
							}
						}else{
							MainBase.alert("error", response.message);
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
            },
            GetUserCategories: function(){
                if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserCategories(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.user_categories = response.data.categories;
							this.user_have_categories = true;
                            this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.alert("error", response.message);
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
            }
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
        min-height: 600px;
		font-size: 15px;
		padding: 2px 0px 10px 0px;
        
        .main_content{
			.myoptions{
				.myoption_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: white;
				}

				.card{
					margin: 0px !important;
					border-radius: 0px !important;
					.card-content{
						.row{
							margin-bottom: 0px !important;
						}
						//background-color: $tertie
						cursor: pointer !important;
						min-height: 50px;
						padding: 5px !important; 
						font-size: 14px !important;

						img{
							height: 40px !important;
							width: 40px !important;
							
							background-color: $primary-color;
							color: white;
						}
						.option_img{
							padding-top: 10px !important;
							text-align: center !important;
							max-height: 60px !important;
							min-height: 60px !important;
							background-color: $tertiary-color;
							color: $primary-color;
							font-size: 20px;
						}
						.option_info{
							padding-bottom: 5px !important;
							padding-left: 10px;
							max-height: 60px !important;
							min-height: 60px !important;
							overflow: hidden !important;
						}
						.option_name{
							color: $primary-color;
						}
						.option_description{
							font-size: 12px !important;
						}
					}
					.card-action{
						padding: 5px !important; 
						font-size: 14px !important;
						color: $primary-color !important;
						span{
							cursor: pointer !important;
						}
						.rating{
							text-align: left;
						}
						.btn_options{
							text-align: right;
						}
					}
				}
				div{
					padding: 1px;
					//margin: -0.95px !important;
					overflow: hidden;
				}
				.see_more{
					text-align: center !important;
					background-color: whitesmoke;
					padding: 15px;
					a{
						color: $primary-color !important;
					}
				}
			}
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 2px 0px 10px 0px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>