<template>
	<div class="notes">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div v-if="doc_ready">
                <div class="description">
                    <label> Notes on </label>
                </div>
				<div class="title">
                    <span>{{note_data.category_title}}</span>
                </div>
			</div>
		</section>
        <section class="note_section">
            <div class="row mynote" v-show="doc_ready">
                <div class="col s12 edit_note" v-show="user_edit_note"> 
                    <div class="">
                        <h5>
                            <span class="ti ti-pencil"></span> Edit note
                        </h5>
                    </div>
                    <div class="input-field">
                        <div>
                            <label>What type of content ?</label>
                        </div>
                        <select  class="browser-default" type="text" name="edit_note_type" id="edit_note_type" v-model="edit_note.note_type" v-on:change="OnSelectEditTypeChange">
                            <option value="0" disabled="disabled" selected="selected" > -- Select type -- </option>
                            <option :value="notetype.id" v-for="(notetype, index) in note_types" :key="index">{{notetype.title}}</option>
                            <!--option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option-->
                        </select>
                    </div>
                    <div class="input-field" v-if="edit_note.note_type == '1'">
                        <div>
                            <label>Note content ({{edit_note.content.length}}/{{note_content_max.text}})</label>
                        </div>
                        <textarea id="textnote" class="materialize-textarea" placeholder="Write note text here..." v-model="edit_note.content"></textarea>
                    </div>
                    <div class="input-field" v-if="edit_note.note_type == '2'">
                        <div>
                            <label>YouTube Video URL ID (the last 11 characters in the URL)</label>
                        </div>
                        <input placeholder="Paste your YouTube video id from the URL" id="videourl" type="text" class="validate" v-model="edit_note.content">
                    </div>
                    <div class="" v-if="edit_note.note_type != '0'">
                        <div class="col s12">
                            <button class="btn save_btn" v-on:click.prevent="SaveNoteChanges" :disabled="edit_note.btn ? false : true">
                                Save Changes
                            </button>
                        </div>
                        <div class="col s12 right">
                            <button class="btn btn-flat cancel_btn" v-on:click.prevent="CancelEdit">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="col s12 create_note" v-show="!user_edit_note"> 
                    <div>
                        <p class="creat_note_tip">
                            <label>You can inspire people by adding notes to {{note_data.category_title}} category.</label>
                        </p>
                    </div>
                    <div class="row">
                        <ul class="collapsible">
                            <li id="createnoteheader">
                                <div class="col s12 collapsible-header">
                                    <span>
                                        <label>
                                            <span class="ti ti-angle-down"></span>
                                        </label>
                                        Add new note
                                    </span>
                                </div>
                                <div class="collapsible-body">
                                    <div class="input-field">
                                        <div>
                                            <label>What type of content ?</label>
                                        </div>
                                        <select  class="browser-default" type="text" name="new_note_type" id="new_note_type" v-model="create_new_note.note_type" v-on:change="OnSelectTypeChange">
                                            <option value="0" disabled="disabled" selected="selected" > -- Select type -- </option>
                                            <option :value="notetype.id" v-for="(notetype, index) in note_types" :key="index">{{notetype.title}}</option>
                                        </select>
                                    </div>
                                    <div class="input-field" v-if="create_new_note.note_type == '1'">
                                        <div>
                                            <label>Note content ({{create_new_note.content.length}}/{{note_content_max.text}})</label>
                                        </div>
                                        <textarea id="textnote" class="materialize-textarea" placeholder="Write note text here..." v-model="create_new_note.content"></textarea>
                                    </div>
                                    <div class="input-field" v-if="create_new_note.note_type == '2'">
                                        <div>
                                            <label>YouTube Video URL ID (the last 11 characters in the URL)</label>
                                        </div>
                                        <input placeholder="Paste your YouTube video id from the URL" id="videourl" type="text" class="validate" v-model="create_new_note.content">
                                    </div>
                                    <div class="" v-if="create_new_note.note_type != '0'">
                                        <button class="btn save_btn" v-on:click.prevent="CreateNote" :disabled="create_new_note.btn ? false : true">
                                            Create Note
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div v-if="!doc_ready" class="row loading_div">
				<div class="col s12 center">Loading...</div>
			</div>
        </section>
        <section class="notes_section">
            <div class="" v-show="doc_ready">
                <div v-if="user_have_notes">
                    <div class="row">
                        <div class="col s12 mynotes_title"> 
                            <span class="ti ti-file"></span> Notes
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" v-for="(note, index) in user_notes" :key="index">
                            <div class="card">
                                <div class="card-content">
                                    <div v-if="note.note_type_id == is_note_type.text">
                                        {{note.content}}
                                    </div>
                                    <div v-if="note.note_type_id == is_note_type.video">
                                        <div class="video-container">
                                            <iframe width="853" height="480" :src="current_note_base+note.content" frameborder="0" allowfullscreen></iframe>
                                        </div>    
                                    </div>
                                </div>
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col s4 left_option">
                                            <label>{{note.note_type}}</label>
                                        </div>
                                        <div class="col s8 right_option">
                                            <label>
                                                <span v-on:click.prevent="EditNote(note)">Edit</span> &nbsp; &nbsp;
                                            </label>
                                            <label>
                                                <span v-on:click.prevent="DeleteNote(note)">Delete</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 see_more">
                            <a v-if="show_view_more" href="#" v-on:click.prevent="ViewMoreCategoryNotes">View more</a>
                            <span v-if="!show_view_more">&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div v-if="!user_have_notes">
                    <div class="no_notes">
                        No Note in this category, kindly add a note, so people who visit this category can learn.
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "notes",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
                user_username: "",
                user_notes: "",
                
                note_data: {
                    category_title: "",
                    category_id: "",
                    category_slug: ""
                },
                note_content_max:{
                    text: 130,
                    video: 130
                },

                doc_ready: false,
                user_have_notes: false,
                user_edit_note: false,
                current_note_base: "https://youtube.com/embed/",
                edit_note: {
                    note_id: "",
                    note_type: "0",
                    content: "",
                    note_text: "",
                    btn: true
				},
				is_note_type:{
                    text: '1',
                    video: '2'
                },
                note_types:[
                    {
                        id: "1",
                        title: "Text"
                    },
                    {
                        id: "2",
                        title: "YouTube video"
                    }
                ],
                create_new_note:{
                    note_type: "0",
                    content: "",
                    btn: true
                },
                total_note_count: "0",
                last_note: "0",
                show_view_more: false
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
            if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    let our_params = this.$route.params;
                    if(our_params.username){
                        if(our_params.username == this.process_d.data.user.username){
                            if(our_params.cat_id){
                                if(our_params.cat_slug){
                                    if(our_params.cat_title){
                                        this.note_data.category_id = our_params.cat_id;
                                        this.note_data.category_title = our_params.cat_title;
                                        this.note_data.category_slug = our_params.cat_slug;
                                        this.GetCategoryNotes();
                                    }else{
                                        this.$router.push({name: 'home'});
                                    }
                                }else{
                                    this.$router.push({name: 'home'});
                                }
                            }else{
                                this.$router.push({name: 'home'});
                            }
                        }else{
                            this.$router.push({name: 'home'});
                        }
                    }else{
                        this.$router.push({name: 'home'});
                    }
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
                this.$route.params.username = to.params.username;
                this.$route.params.category = to.params.category;
				this.GetProfileData();
				next();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
			...mapActions(['updateProcessData_A']),
            ...mapActions(['logoutUser_A']),
            OnSelectTypeChange: function(){
                this.create_new_note.content = "";
            },
            OnSelectEditTypeChange: function(){
                this.edit_note.content = "";
            },
            CancelEdit: function(){
				this.user_edit_note = false;
				MainBase.scrollTo("top");
			},
            GetCategoryNotes: function(){
                if(MainBase.userLoggedIn()){
                    if(this.$route.params.username == this.process_d.data.user.username){
                        if(this.$route.params.cat_id){
                            if(this.$route.params.cat_slug){
                                let send_data = {
                                    slug: this.$route.params.username,
                                    cat_id: this.$route.params.cat_id,
                                    last_note: this.last_note
                                }
                                this.doc_ready = false;
                                MainBase.showProgressBar();
                                var r_back = MainBase.getCategoryNotes(send_data);
                                r_back.then(response => {
                                    if(response.code == 200){
                                        this.doc_ready = true;
                                        this.user_notes = response.data.notes;
                                        this.total_note_count = response.data.count;
                                        this.last_note = response.data.last_note;
                                        if(Number(this.total_note_count) > this.user_notes.length){
                                            this.show_view_more = true;
                                        }else{
                                            this.show_view_more = false;
                                        }
                                        if(this.user_notes.length > 0){
                                            this.user_have_notes = true;
                                        }else{
                                            this.user_have_note = false;
                                        }
                                        MainBase.removeProgressBar();
                                        if(response.hasOwnProperty('utfa')){
                                            if(MainBase.updateProcessDataString("utfa", response.utfa)){
                                            }
                                        }
                                    }
                                    if(response.code == 400){
                                        MainBase.alert(response.status, response.message);
                                        MainBase.removeProgressBar();
                                    }
                                    if(response.code == 401){
                                        MainBase.alert(response.status, response.message);
                                        this.GoLogout();
                                        MainBase.removeProgressBar();
                                    }
                                });
                            }else{
                                MainBase.alert("warning", "Please go check your categories again");
                            }
                        }else{
                            MainBase.alert("warning", "Please go check your categories again");
                        }
                    }else{
                        this.$router.push({name: 'notfound'})
                    }
                }
            },
            CreateNote: function(){
                if(Number(this.create_new_note.note_type) > 0){
					if((this.create_new_note.content.length > 4) && (this.create_new_note.content.length < 131)){
						this.create_new_note.btn = false;
                        MainBase.showProgressBar();
                        let send_data = {
                            cat_id: this.note_data.category_id,
                            note_type: this.create_new_note.note_type,
                            note_content: this.create_new_note.content
                        };
                        var r_back = MainBase.createNote(send_data);
                        r_back.then(response => {
                            this.create_new_note.btn = true;
                            MainBase.removeProgressBar();

                            if(response.code == 200){
                                MainBase.alert(response.status, response.message);
                                this.create_new_note.content = "";
                                this.create_new_note.note_type = "0";
                                
                                if(response.hasOwnProperty('utfa')){
                                    MainBase.updateProcessDataString("utfa", response.utfa)
                                }
                                this.GetCategoryNotes();
                            }
                            if(response.code == 400){
                                MainBase.alert(response.status, response.message);
                            }
                            if(response.code == 401){
                                MainBase.alert(response.status, response.message);
                                this.GoLogout();
                            }
                        });
					}else{
						MainBase.alert("warning", "Please provide a valid text or link. Your note content should not be less than 5 characters or more than "+ this.note_content_max.text +" characters.");
					}
				}else{
					MainBase.alert("warning", "Please select a valid note type");
				}
            },
            SaveNoteChanges: function(){
                if(Number(this.edit_note.note_type) > 0){
					if((this.edit_note.content.length > 4) && (this.edit_note.content.length < 131)){
						this.edit_note.btn = false;
                        MainBase.showProgressBar();
                        let send_data = {
                            note_id: this.edit_note.note_id,
                            note_type: this.edit_note.note_type,
                            cat_id: this.note_data.category_id,
                            note_content: this.edit_note.content,
                            note_text: this.edit_note.note_text
                        };
                        var r_back = MainBase.saveNoteChanges(send_data);
                        r_back.then(response => {
                            this.edit_note.btn = true;
                            MainBase.removeProgressBar();
                            
                            if(response.code == 200){
                                MainBase.alert(response.status, response.message);
                                MainBase.scrollTo("top");
                                //this.GetCategoryNotes();
                                if(response.hasOwnProperty('utfa')){
                                    MainBase.updateProcessDataString("utfa", response.utfa)
                                }
                                if(this.user_notes.length > 0){
                                    this.user_notes.forEach(element => {
                                        if(element.hasOwnProperty('id')){
                                            if(Number(send_data.note_id) == Number(element.id)){
                                                if(element.hasOwnProperty('content')){
                                                    element.content = send_data.note_content;
                                                    element.note_type_id = send_data.note_type;
                                                    if(element.note_type_id == '1'){
                                                        element.note_type = "Text";
                                                    }
                                                    if(element.note_type_id == '2'){
                                                        element.note_type = "Video";
                                                    }
                                                }
                                            }
                                        }
                                    });
                                }
                                this.user_edit_note = false;
                                this.edit_note.note_type = "";
                                this.edit_note.note_text = "";
                                this.edit_note.note_id = "";
                                this.edit_note.content = "";
                            }
                            if(response.code == 400){
                                MainBase.alert(response.status, response.message);
                            }
                            if(response.code == 401){
                                MainBase.alert(response.status, response.message);
                                this.GoLogout();
                            }
                        });
					}else{
						MainBase.alert("warning", "Please provide a valid text or link. Your note content should not be less than 5 characters or more than "+ this.note_content_max.text +" characters.");
					}
				}else{
					MainBase.alert("warning", "Please select a valid note type");
				}
            },
            ViewMoreCategoryNotes: function(){
                if(MainBase.userLoggedIn()){
                    if(this.$route.params.username == this.process_d.data.user.username){
                        if(this.$route.params.cat_id){
                            if(this.$route.params.cat_slug){
                                let send_data = {
                                    slug: this.$route.params.username,
                                    cat_id: this.$route.params.cat_id,
                                    last_note: this.last_note
                                }
                                MainBase.showProgressBar();
                                var r_back = MainBase.getMoreCategoryNotes(send_data);
                                r_back.then(response => {
                                    if(response.code == 200){
                                        this.total_note_count = response.data.count;
                                        this.last_note = response.data.last_note;
                                        if(this.user_notes.length > 0){
                                            this.user_notes = this.user_notes.concat(response.data.notes);    
                                        }else{
                                            this.user_notes = response.data.notes;
                                        }
                                        if(Number(this.total_note_count) > this.user_notes.length){
                                            this.show_view_more = true;
                                        }else{
                                            this.show_view_more = false;
                                        }
                                        if(this.user_notes.length > 0){
                                            this.user_have_notes = true;
                                        }else{
                                            this.user_have_notes = false;
                                        }
                                        
                                        MainBase.removeProgressBar();
                                        if(response.hasOwnProperty('utfa')){
                                            if(MainBase.updateProcessDataString("utfa", response.utfa)){
                                            }
                                        }
                                    }
                                    if(response.code == 400){
                                        MainBase.alert(response.status, response.message);
                                        MainBase.removeProgressBar();
                                    }
                                    if(response.code == 401){
                                        MainBase.alert(response.status, response.message);
                                        this.GoLogout();
                                        MainBase.removeProgressBar();
                                    }
                                });
                            }else{
                                MainBase.alert("warning", "Please go check your categories again");
                            }
                        }else{
                            MainBase.alert("warning", "Please go check your categories again");
                        }
                    }else{
                        this.$router.push({name: 'notfound'})
                    }
                }
            },
            EditNote: function(note){
                this.user_edit_note = true;
                this.edit_note.note_type = note.note_type_id;
                this.edit_note.note_text = note.note_type;
				this.edit_note.note_id = note.id;
				this.edit_note.content = note.content;
				MainBase.scrollTo("top");
            },
            DeleteNote: function(note){
                let confirm_value =  window.confirm("Are you sure you want to Delete this note ? \n\nClick Ok to delete, otherwise cancel.");
                if(confirm_value){
                    MainBase.showProgressBar();
                    let send_data = {
                        note_type_id: note.note_type_id,
                        note_id: note.id,
                        cat_id: this.note_data.category_id
                    }
					var r_back = MainBase.deleteUserNote(send_data);
					r_back.then(response => {
						if(response.code == 200){
							MainBase.removeProgressBar();
							MainBase.alert(response.status, response.message);
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
                            }
                            if(this.user_notes.length > 0){
                                this.user_have_notes = true;
                                this.user_notes.forEach(element => {
                                    if(element.hasOwnProperty('id')){
                                        if(Number(send_data.note_id) == Number(element.id)){
                                            this.user_notes.splice(this.user_notes.indexOf(element),1);
                                        }
                                    }
                                });
								if((Number(this.total_note_count) - 1) >= this.user_notes.length){
									this.user_have_notes = true;
									this.ViewMoreCategoryNotes();
									//this.show_more_btn.mycategories = true;
								}else{
									this.user_have_notes = false;
								}
                            }else{
                                this.user_have_notes = false;
                            }
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}
			},
			/* GoLearningZone: function(l_category){
				this.$router.push({name: 'learningzone', params:{username: this.user_username, category:l_category}});
            }, */
			GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
    .loading_div{
        min-height: 150px !important;
        background-color: white !important;
        padding: 40px !important;
    }
	.page_banner{
        .title{
            font-size: 35px !important;
            font-weight: bold;
        }

        .description{
            label{
                font-size: 20px !important;
                color: #ccc !important;
            }
        }
        color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .note_section{

        .mynote{
            background-color: white !important;
            min-height: 120px !important;
            font-size: 15px;

            .input-field{
                margin: 0px !important;
            }
            .create_note{
                .creat_note_tip{
                    font-size: 11px !important;
                }
                .collapsible{
                    border: none !important;
                    box-shadow: none !important;

                    .collapsible-header{
                        color: $primary-color !important;
                        border: none !important;
                        font-weight: bold !important;
                    }

                    .collapsible-body{
                        border:none !important;
                    }
                }
                h6{
                    font-weight: bold !important;
                }
                background-color: white;
                padding: 0px 20px 20px 20px;
                input{
                    color: $primary-color;
                }
                textarea{
                    //background: white;
                    min-height: 80px !important;

                }
                .save_btn{
                    width: 100% !important;
                }
            }
            .edit_note{
                h6{
                    font-weight: bold !important;
                }
                background-color: white;
                padding: 0px 20px 20px 20px;
                input{
                    color: $primary-color;
                }
                textarea{
                    //background: white;
                    min-height: 83px !important;

                }
            }
            div{
                padding: 1px;
                //margin: -0.95px !important;
                overflow: hidden;
            }
        }

        .card-action{
            padding: 5px 10px 5px 5px !important; 
            font-size: 14px !important;
            color: $primary-color !important;
            span{
                cursor: pointer !important;
            }
            .rating{
                text-align: left;
            }
            .btn_options{
                text-align: right;
            }
        }
        .card{
            //height: 100%;
            //min-height: 150px !important;

            .card-content{
                min-height: 200px;
                max-height: 300px;
                overflow: auto !important;
            }
            //overflow: scroll;
        }
        .row{
            margin-bottom: 0px !important;
        }
    }

    .notes_section{
        .mynotes_title{
            padding: 10px;
            background-color: $secondary-color !important;
            color: white;
        }
        .no_notes{
            font-size: 20px !important;
            font-style: italic !important;
            text-align: center !important;
            padding: 50px !important;
            color: $primary-color !important;
        }
        .card-action{
            padding: 5px 10px 5px 5px !important; 
            font-size: 14px !important;
            color: $primary-color !important;
            span{
                cursor: pointer !important;
            }
            .rating{
                text-align: left;
            }
            .btn_options{
                text-align: right;
            }
            .left_option{
                text-align: left !important;
            }
            .right_option{
                text-align: right !important;
            }
            .row{
                margin: 0px !important;
            }
        }
        .card{
            //height: 100%;
            //min-height: 150px !important;

            .card-content{
                min-height: 200px;
                max-height: 300px;
                overflow: auto !important;
                font-size: 18px !important;
            }
            //overflow: scroll;
        }
        .row{
            margin-bottom: 0px !important;
            background-color: #fff !important;
        }
        .see_more{
            text-align: center !important;
            background-color: whitesmoke;
            padding: 15px;
            a{
                color: $primary-color !important;
            }
        }
    }
    .save_btn{
		width: 100% !important;
	}
	.cancel_btn{
		width: 100% !important;
	}
	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px !important;
				font-weight: bold;
			}
            .description{
                label{
                    font-size: 18px !important;
                }
            }
		}
	}
</style>