<template>
	<div class="profile">
		<MainMenu/>
		<section class="page_banner">
			<div v-if="doc_ready">
				<div class="row">
					<div class="col s5">&nbsp;</div>
					<div class="channel_img col s4" :style="{backgroundImage: 'url(' + require('@/images/avatar.png') + ')'}">
						<span>{{profile_data.fullname[0]}}</span>
					</div>
					<div class="col s3">&nbsp;</div>
				</div>
				<div class="title"> {{profile_data.fullname}} </div>
				<div class="username">
                    <span>{{profile_data.username}}</span>
                </div>
                <div class="about">
                    {{profile_data.bio}}
                </div>
			</div>
		</section>
        <section class="page_content">
			<div class="row all_stat" v-if="doc_ready">
				<div class="col s3 stat push-m1">
                    <span><label>Subscribers</label></span><br/>
                    <span class="stat_value">{{profile_data.nos_of_subscribers}} </span>
                </div>
                <div class="col s3 stat push-m1">
					<span><label>Category</label></span><br/>
					<span class="stat_value">{{profile_data.nos_of_categories}} </span>
                </div>
                <div class="col s2 stat push-m1">
                    <span><label>Notes</label></span><br/>
                    <span class="stat_value">{{profile_data.nos_of_notes}} </span>
                </div>
                <div class="col s4 stat">
                    <div v-if="!is_my_profile">
						<button v-if="sub_btn" class="btn" v-on:click.prevent="SubscribeToChannel" :disabled="sub_process_btn ? false : true">Subscribe</button>
						<button v-if="unsub_btn" class="un-sub-button" style="padding: 7px;" v-on:click.prevent="UnSubscribeFromChannel" :disabled="sub_process_btn ? false : true">Unsubscribe</button>
					</div>
                    <button v-if="is_my_profile" class="" style="padding: 7px;" v-on:click.prevent="GoEditProfile"> <span class="ti ti-settings"></span> Settings</button>
                </div>
			</div>
            <div class="divider"></div>
            <div class="main_content">
				<div v-if="!is_my_profile">	
					<div class="row mycategories" v-if="doc_ready">
						<div v-show="user_have_categories">
							<div class="col s12 mycat_title">
								<span class="ti ti-link"></span> Category
							</div>
							<div  class="" v-for="(category, index) in user_categories" :key="index">
								<div class="card">
									<div class="card-content" v-on:click.prevent="GoLearningZone(category)">
										<div class="row">
											<div class="col s2 m2 category_img">
												<span class="ti ti-link"></span>
											</div>
											<div class="col s10 m10 category_info">
												<strong class="bold category_name">{{category.title}}</strong><br/>
												<span class="category_bio" v-html="category.description"></span>
											</div>
										</div>
									</div>
									<div class="card-action">
										<label v-on:click.prevent="GoLearningZone(category)">Notes: {{category.number_of_notes}}</label>
									</div>
								</div>
							</div>
							<div class="col s12 see_more">
								&nbsp;
							</div>
						</div>
						<div v-if="!user_have_categories">
							<div class="no_categories">
								Hi, I have not created a category yet, please check later.
							</div>
						</div>
					</div>
				</div>
				<div v-if="is_my_profile">
					<div class="row">
						<div class="col s12 myprofile-card card">
							<div class="card-title">
								<span class="ti ti-bell"></span>
							</div>
							<div class="card-body">
								<p>
									My profile URL: <strong>learnbread.com/{{profile_data.username}}</strong>
								</p>
								<p>This is your profile. You can go to settings to edit your profile.</p>
								<p class="small-hint">
									<strong>Always Remember:</strong>
									Don't give anyone your password. We will never call, text, email or use any form of media to ask for your password. 
									<strong>If you ever recieve such message PLEASE IGNORE.</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div v-if="!doc_ready" class="row">
				<div class="col s12 center">Loading...</div>
			</div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "profile",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				profile_data: "",
				user_categories: "",
				doc_ready: false,
				user_have_categories: false,
				is_my_profile: false,
				sub_btn: false,
				unsub_btn: false,
				sub_process_btn: true
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
				let dp_data = JSON.parse(localStorage.getItem('process_data'));
				if(dp_data){
					this.updateProcessData_A(dp_data);
					this.GetProfileData();
					//this.GetUserCategories();
				}else{
					this.GoLogout();
				}
			}else{
				this.GoLogout();
			}
		},
		beforeRouteUpdate (to, from, next) {
			if(!(to == from)){
				this.$route.params.username = to.params.username;
				this.GetProfileData();
				next();
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
			...mapActions(['updateProcessData_A']),
			...mapActions(['logoutUser_A']),
        
			GoEditProfile: function(){
				if(this.process_d.hasOwnProperty('data')){
					if(this.process_d.data.hasOwnProperty('user')){
						if(this.process_d.data.user.hasOwnProperty('username')){
							//console.log("our process d is ", this.process_d);
							this.$router.push({name:'editprofile', params: {username: this.process_d.data.user.username}});
						}else{
							this.$router.push({name: 'home'});
						}
					}else{
						this.$router.push({name: 'home'});
					}
				}else{
					this.$router.push({name: 'home'});
				}
			},
			GoNotes: function(category){

			},
			GoLearningZone: function(category){
				if(category.hasOwnProperty('number_of_notes')){
					if(Number(category.number_of_notes) > 0){
						let cat_slug = MainBase.getSlug(category.title);
						this.$router.push({name: 'learningzone', params:{username: this.$route.params.username, category: cat_slug, cat_id: category.id}});
					}else{
						MainBase.alert("info", "This category does not have any note");
					}
				}else{
					MainBase.alert("info", "This category does not have any note");
				}
				
				//this.$router.push({name: 'learningzone', params:{username: this.$route.params.username, category:category.slug}});
			},
			UnSubscribeFromChannel: function(){
				let send_data = {
					channel_id: this.profile_data.id,
					channel_email: this.profile_data.email
				}
				MainBase.showProgressBar();
				this.sub_process_btn = false;
				var r_back = MainBase.unsubscribeFromChannel(send_data);
				r_back.then(response => {
					if(response.code == 200){
						this.unsub_btn = false;
						this.sub_btn = true;
						if(Number(this.profile_data.nos_of_subscribers) > 0){
							this.profile_data.nos_of_subscribers = Number(this.profile_data.nos_of_subscribers) - 1
						}
						MainBase.removeProgressBar();
						this.sub_process_btn = true;
						if(response.hasOwnProperty('utfa')){
							MainBase.updateProcessDataString("utfa", response.utfa)
						}
					}
					if(response.code == 400){
						MainBase.alert(response.status, response.message);
						MainBase.removeProgressBar();
						this.sub_process_btn = true;
						//this.$router.push({name: 'home'});
					}
					if(response.code == 401){
						MainBase.alert(response.status, response.message);
						this.GoLogout();
						MainBase.removeProgressBar();
						this.sub_process_btn = true;
					}
				});
			},
			SubscribeToChannel: function(){
				let send_data = {
					channel_id: this.profile_data.id,
					channel_email: this.profile_data.email
				}
				MainBase.showProgressBar();
				this.sub_process_btn = false;
				var r_back = MainBase.subscribeToChannel(send_data);
				r_back.then(response => {
					if(response.code == 200){
						this.unsub_btn = true;
						this.sub_btn = false;
						this.profile_data.nos_of_subscribers = Number(this.profile_data.nos_of_subscribers) + 1
						MainBase.removeProgressBar();
						this.sub_process_btn = true;
					}
					if(response.code == 400){
						MainBase.alert(response.status, response.message);
						MainBase.removeProgressBar();
						this.sub_process_btn = true;
						//this.$router.push({name: 'home'});
					}
					if(response.code == 401){
						MainBase.alert(response.status, response.message);
						this.GoLogout();
						MainBase.removeProgressBar();
						this.sub_process_btn = true;
					}
				});
			},
			GetProfileData: function(){
                if((this.$route.params.username) && (this.$route.params.username.length > 3)){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserProfile(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.profile_data = response.data.profile;
							this.user_categories = response.data.categories;
							if(response.data.categories.length > 0){
								this.user_have_categories = true;
							}
							if(response.data.profile.hasOwnProperty('subscribe_status')){
								if(response.data.profile.subscribe_status == 1){
									this.sub_btn = false;
									this.unsub_btn = true;
								}else{
									this.sub_btn = true;
									this.unsub_btn = false;
								}
							}
							this.doc_ready = true;
							MainBase.removeProgressBar();
							if(this.profile_data.username == this.process_d.data.user.username){
								this.is_my_profile = true;
							}
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
							}
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
							//this.$router.push({name: 'home'});
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'});
				}
            },
            GetUserCategories: function(){
                if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserCategories(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.user_categories = response.data.categories;
							//this.user_have_categories = true;
                            this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.alert("error", response.message);
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
		.row{
			margin-bottom: 0px !important;
		}
		.channel_img{
			padding-top: 10px !important;
			text-align: center !important;
			max-height: 60px !important;
			min-height: 60px !important;
			background-color: $tertiary-color;
			background-position: center !important;
			background-size: contain !important;
			background-repeat: no-repeat !important;
			color: $primary-color;
			font-size: 20px;
			border-radius: 50% !important;
			border: solid 1px $primary-color !important;
			max-width: 60px !important;
		}
        .username{
            span{
                font-style: italic !important;
                font-weight: bold;
				background-color: burlywood;
				padding: 2px 10px !important;
				border-radius: 5px;
				color: $primary-color !important;
            }

        }
        img{
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
			border: 1px solid $primary-color !important;
        }
		
		min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: #f5f5f5 !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		color: #000 !important;

		

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
		.myprofile-card{
			padding: 50px !important;
			text-align: center !important;
		}
        min-height: 600px;
		font-size: 15px;
		padding: 10px 0px 10px 0px;
        .no_categories{
			padding: 60px !important;
			background-color: beige !important;
			text-align: center !important;
			min-height: 300px !important;
		}


        .all_stat{
			margin-bottom: 0px !important;
			padding: 0px 10px 10px 10px !important;
            .stat{
                padding-right: 0px !important;
                padding-left: 2px !important;

				a{
					color: $primary-color;
					cursor: pointer;
				}
            }
        }
        .stat_value{
            font-size: 14px !important;
            font-weight: bold;
        }

		.un-sub-button:focus {
			background-color: beige !important;
		}

        .main_content{
			.small-hint{
				font-size: 12px !important;
			}		
			.mycategories{
				.mycat_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: white;
				}

				.card{
					margin: 0px !important;
					border-radius: 0px !important;
					.card-content{
						.row{
							margin-bottom: 0px !important;
						}
						//background-color: $tertie
						cursor: pointer !important;
						min-height: 50px;
						padding: 5px !important; 
						font-size: 14px !important;

						img{
							height: 40px !important;
							width: 40px !important;
							
							background-color: $primary-color;
							color: white;
						}
						.category_img{
							padding-top: 10px !important;
							text-align: center !important;
							max-height: 60px !important;
							min-height: 60px !important;
							background-color: $tertiary-color;
							color: $primary-color;
							font-size: 20px;
						}
						.category_info{
							padding-bottom: 5px !important;
							padding-left: 10px;
							max-height: 60px !important;
							min-height: 60px !important;
							overflow: hidden !important;
						}
						.category_name{
							color: $primary-color;
						}
						.category_bio{
							font-size: 12px !important;
						}
					}
					.card-action{
						padding: 5px !important; 
						font-size: 14px !important;
						color: $primary-color !important;
						span{
							cursor: pointer !important;
						}
						.rating{
							text-align: left;
						}
						.btn_options{
							text-align: right;
						}
					}
				}
				div{
					padding: 1px;
					//margin: -0.95px !important;
					overflow: hidden;
				}
				.see_more{
					text-align: center !important;
					background-color: whitesmoke;
					padding: 15px;
					a{
						color: $primary-color !important;
					}
				}
			}
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 0px 10px 0px;
			.all_stat{
				padding: 0px 10px 0px 10px !important;
			}

		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}

            .about{
                padding: 0px 20px 0px 20px !important;
            }
		}
	}
</style>