<template>
	<div class="learningzone">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
            <div class="title">
                Scout bread
            </div>
            <div class="description">
                <label> You can scout for pieces of bread here </label>
            </div>
		</section>
        <section class="page_content">
			<div class="row main_content">
                <div class="col s12 user_instruction">
                    <span class="user_instruction_span">
                        <span class="ti ti-bell"></span> {{teacher_instruction}}
                    </span>
                </div>
                <div  class="col s12 m12">
                    <div class="card class-not-started" v-if="!scout_started">
                        <div class="card-content">
                            <span class="card-title">
                                <span class="ti ti-info-alt"></span> Scout for Bread
                            </span>
                            <div class="description-text">
                                Here little drops that can make an ocean.
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-small scout-btn" href="#" v-on:click.prevent="StartScouting()">Start Scouting</button>
                        </div>
                    </div>
                    <div class="card class-started" v-if="scout_started">
                        <div class="card-content">
                            <div class="text_content">
                                {{current_scout}}
                            </div>
                            <div class="text_content_brief">
                                The journey of 1,000 miles begins with a step.
                            </div>
                        </div>
                        <div class="card-action">
                            <div v-show="!next_click">
                                <button class="btn btn-small" v-on:click.prevent="ViewNextScout()">SCOUT FOR BREAD</button>
                            </div>
                            <div v-show="next_click">
                                Scouting...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
    import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "learningzone",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
                teacher_username: "",
                teacher_id: "",
                teacher_category: "",
                teacher_category_id: "",
                category_type: {
                    random: false,
                    series: true
                },
                teacher_instruction: "Each Scout will cost you 25pcs",
                teacher_category_description: "",
                teacher_category_type: "",
                teacher_category_type_id: "",
                teacher_category_amount: "",
                scout_amount: "25",
                scout_started: false,
                doc_ready: false,
                last_note_id: "0",
                go_where: "Next",

                current_scout:"",
                current_scout_type:{
                    text: false,
                    youtube: true,
                    anchor: false,
                    unsplash: false
                },
                next_click: true,
                previous_click: true
				
			};
        },
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
            if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    MainBase.removeProgressBar();
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
			...mapActions(['logoutUser_A']),
            ViewNextScout: function(){
                MainBase.dismissAlert();
                this.go_where = "Next";
                this.next_click = true;
                this.StartScouting();
            },
			StartScouting: function(){
                MainBase.dismissAlert();
                if(this.process_d){
                    if(this.process_d.hasOwnProperty('data')){
                        if(this.process_d.data.hasOwnProperty('user')){
                            if(this.process_d.data.user.hasOwnProperty('store')){
                                if(Number(this.process_d.data.user.store) >= Number(this.scout_amount)){
                                    let send_data = {
                                        go_where: this.go_where
                                    }
                                    MainBase.showProgressBar();
                                    this.current_scout = "";
                                    var r_back = MainBase.viewNextScout(send_data);
                                    r_back.then(response => {
                                        this.next_click = false;
                                        this.previous_click = false;
                                        if(response.code == 200){
                                            if(response.hasOwnProperty('data')){
                                                this.scout_started = true;
                                                
                                                if(response.data.hasOwnProperty('gift')){
                                                    if(Number(response.data.gift) > 0){
                                                        this.current_scout = "Hurray\n "+Number(response.data.gift)+"pcs found from your scout.";
                                                        MainBase.scrollTo("top");
                                                    }else{
                                                        this.current_scout = "No pcs found. You can still try scouting again";
                                                    }
                                                }else{
                                                    this.current_scout = "0pcs found. You can still try scouting again";
                                                }
                                            }else{
                                                MainBase.alert("warning", response.message)
                                            }
                                            MainBase.removeProgressBar();
                                            if(response.hasOwnProperty('utfa')){
                                                MainBase.updateProcessDataString("utfa", response.utfa)
                                            }
                                        }
                                        if(response.code == 400){
                                            MainBase.alert(response.status, response.message);
                                            MainBase.removeProgressBar();
                                        }
                                        if(response.code == 401){
                                            MainBase.alert(response.status, response.message);
                                            this.GoLogout();
                                            MainBase.removeProgressBar();
                                        }
                                    });
                                }else{
                                    MainBase.scrollTo("top");
                                    MainBase.alert("warning", "Sorry you do not have sufficient bread in your store. Go to Marketplace to buy some bread.");
                                }
                            }else{
                                this.GoLogout();
                            }
                        }else{
                            this.GoLogout();
                        }
                    }else{
                        this.GoLogout();
                    }
                }else{
                    this.GoLogout();
                }
            },
            GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        .title{
            font-weight: bold;
            font-size: 100% !important;
        }

        .description{
            label{
                font-size: 20px !important;
                color: #ccc !important;
            }
        }
        img{
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
        }
		color: antiquewhite !important;
        min-height: 50px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
	}

    .page_content{
        min-height: 600px;
		padding: 40px;
		font-size: 15px;
        background-color: lightgray !important;

        .description-text{
            font-size: 20px !important;
        }
        .text_content_brief{
            padding: 50px !important;
            text-align: center !important;
        }
        .text_content{
            font-size: 30px !important;
            text-align: center !important;
            line-height: 35px !important;
            margin: 10px !important;
            color: $primary-color !important;
            font-weight: bold !important;
        }
        .note_type_div{
            text-align: right !important;
        }
        
        .all_stat{
            .stat{
                padding-right: 0px !important;
                padding-left: 2px !important;
            }
        }
        .stat_value{
            font-size: 14px !important;
            font-weight: bold;
        }

        .main_content{
            .user_instruction{
                .user_instruction_span{
                    background-color: white !important;
                    padding: 5px;
                    border-radius: 5px;
                    color: $primary-color !important;
                }
                font-size: 12px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                //text-decoration: underline;
                color: $secondary-color;
            }
            .card-action{
                background-color: white;
                text-align: center;
                a{
                    color: $primary-color !important;
                }
                .scout-btn{
                    background-color: $tertiary-color !important;
                    color: $primary-color !important;
                }
            }
            .class-not-started{
                background-color: $tertiary-color !important;
                color: black !important;
            }
            .class-started{
                background-color: white !important;
                color: black !important;
            }
            .card{
                overflow: hidden;
                
                //overflow: scroll;

                .card-content{
                    min-height: 300px;
                    overflow: hidden;
                    padding-bottom: 0px;
                    line-height: 1.9;
                }

                .started-card-title{
                    color: $primary-color;
                    font-size: 10px;
                    background-color: #ccc;
                    padding: 3px;
                    border-radius: 3px;
                    font-weight: bold;
                }
            }

        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
            .card-content{
                min-height: 300px !important;
                max-height: 300px !important;
                height: 100% !important;
            }

            .video-container{
                min-height: 250px !important;
            }
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 20px;
				font-weight: bold;
			}

            .description{
                label{
                    font-size: 14px !important;
                    color: #ccc !important;
                }
            }
		}
	}
</style>