<template>
	<div class="search">
		<MainMenu/>
		<section class="search_div">
            <div class="row search_row1" >
                <div class="col s12">
                    <div>
                        Learning is interesting when you find people you can learn from.
                        So here you can search for people you might know to discover great minds you want to learn from.
                    </div>
                </div>
				<div class="col s8"> 
                    <div>
                        <input class="text-field" type="text" placeholder="Enter the username" v-model="search_str"/>
                    </div>
                </div>
                <div class="col s4">
                    <button class="btn" v-on:click.prevent="SearchForChannel" :disabled="search_btn ? false : true">Search</button>
                </div>

                <div class="col s12" v-if="user_have_channel">
                    <div id="tl_channels" v-for="(u_channel, index) in user_channels" :key="index">
                        <div class="col s12 card" v-on:click.prevent="GoUserProfile(u_channel.username)">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s2 m1 channel_img" :style="{backgroundImage: 'url(' + require('@/images/avatar.png') + ')'}">
                                        <span>{{u_channel.fullname[0]}}</span>
                                    </div>
                                    <div class="col s10 m11 channel_info">
                                        <strong class="bold channel_name">{{u_channel.fullname}}</strong><br/>
                                        <span class="channel_bio" v-html="u_channel.bio"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col s12 see_more" v-if="show_more_btn.mychannels">
                        <a href="#" v-on:click.prevent="SeeMoreGetUserChannels">View more</a>
                    </div> -->
                </div>
            </div>
            <div class="row people_might_know" v-if="suggested_channel_ready">
                <div class="col s12 pmk_title">
                    <span class="ti ti-user"></span> Some channels you can learn from
                </div>
                <div  class="" v-for="(u_channel, index) in suggested_channels" :key="index">
                    <div class="card" v-on:click.prevent="GoUserProfile(u_channel.username)">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s2 m1 channel_img" :style="{backgroundImage: 'url(' + require('@/images/avatar.png') + ')'}">
                                    <span>{{u_channel.fullname[0]}}</span>
                                </div>
                                <div class="col s10 m11 channel_info">
                                    <strong class="bold channel_name">{{u_channel.fullname}}</strong><br/>
                                    <span class="channel_bio" v-html="u_channel.bio"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 see_more">
                    &nbsp;
                </div>
            </div>
		</section>
		<section class="page_content"></section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "search",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				search_str: "",
				search_btn: true,
				
				
				profile_data: "",
				user_categories: "",
				last_category_id: "0",
				user_channels: "",
				last_channel_id: "0",
				seemore_user_channels: "",
				user_have_channel: true,
				user_have_categories: false,
				user_edit_category: false,
				user_store_history: true,

				user_store: "",
				user_have_tx: false,
				user_tx: "",
				last_tx_id: "0",

				suggested_channels: "",
				last_suggested_channel_id: "0",
				suggested_channel_ready: false,
				doc_ready: true,

				category_types: "",
				new_cat: {
					title: "",
					desc: "",
					amount: "20",
					cat_type: "0",
					min_amount: 5,
					max_amount: 30,
					btn: true

				},
				edit_cat: {
					cat_id: "",
					title: "",
					desc: "",
					amount: "",
					cat_type: "0",
					min_amount: 5,
					max_amount: 30,
					btn: true
				},
				cat_prices:"",
				show_more_btn:{
					mychannels: false,
					suggestedchannels: false,
					mycategories: false,
					mytx: false
				},
				total_category_count: "0",
				total_channel_count: "0",
				total_tx_count: "0"
				
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
					this.updateProcessData_A(dp_data);
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			let elem= document.querySelectorAll('.tabs');
			var instance = M.Tabs.init(elem, {});

			var elems = document.querySelectorAll('.dropdown-trigger');
			var instances = M.Dropdown.init(elems, {});
			
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		},
		methods: {
			...mapActions(['updateProcessData_A']),
			...mapActions(['logoutUser_A']),
			SearchForChannel: function(){
				let send_data = {
					search_str: this.search_str
				}
				MainBase.showProgressBar();
				this.search_btn = false;
				var r_back = MainBase.getSearchResult(send_data);
				r_back.then(response => {
					this.search_btn = true;
					if(response.code == 200){
						this.user_channels = response.data.channels;
						this.user_have_channel = true;
						MainBase.removeProgressBar();
						if(response.hasOwnProperty('utfa')){
							MainBase.updateProcessDataString("utfa", response.utfa)
						}
					}
					if(response.code == 400){
						MainBase.alert(response.status, response.message);
						MainBase.removeProgressBar();
					}
					if(response.code == 401){
						MainBase.alert(response.status, response.message);
						this.GoLogout();
						MainBase.removeProgressBar();
					}
				});
			},
			SaveCategory: function(){
				if((this.new_cat.title.length > 2) && (this.new_cat.title.length <= 25)){
					if((this.new_cat.desc.length > 5) && (this.new_cat.desc.length < 61)){
						if(Number(this.new_cat.amount) >= Number(this.new_cat.min_amount) ){
							if(Number(this.new_cat.amount) <= Number(this.new_cat.max_amount)){
								if(!(this.new_cat.cat_type == "0" || this.new_cat.cat_type == "")){
									this.new_cat.btn = false;
									MainBase.showProgressBar();
									var r_back = MainBase.createCategory(this.new_cat);
									r_back.then(response => {
										this.new_cat.btn = true;
										MainBase.removeProgressBar();

										if(response.code == 200){
											MainBase.alert(response.status, response.message);
											this.new_cat.title = "";
											this.new_cat.desc = "";
											this.new_cat.amount = "0";
											this.new_cat.cat_type = "0";

											this.GetTabCategories();
											if(response.hasOwnProperty('utfa')){
												MainBase.updateProcessDataString("utfa", response.utfa)
											}
										}
										if(response.code == 400){
											MainBase.alert(response.status, response.message);
										}
										if(response.code == 401){
											MainBase.alert(response.status, response.message);
											this.GoLogout();
										}
									});
								}else{
									MainBase.alert("warning", "Please select how you want the notes to be displayed (Series or Randomly).")
								}
							}else{
								MainBase.alert("warning", "Please the Maximum pcs of bread for each category is "+this.new_cat.max_amount+"pcs");
							}
						}else{
							MainBase.alert("warning", "Please the Mininum pcs of bread for each category is "+this.new_cat.min_amount+"pcs");
						}
					}else{
						MainBase.alert("warning", "You need to write a short description that is not more than 110 characters, so that others can have a clue of this category.");
					}
				}else{
					MainBase.alert("warning", "Category title should not be less than two (2) and not more than twenty (25) characters");
				}
			},
			SaveCategoryChanges: function(){
				if((this.edit_cat.title.length > 2) && (this.edit_cat.title.length <= 25)){
					if((this.edit_cat.desc.length > 5) && (this.edit_cat.desc.length < 61)){
						if(Number(this.edit_cat.amount) >= Number(this.edit_cat.min_amount) ){
							if(Number(this.edit_cat.amount) <= Number(this.edit_cat.max_amount)){
								if(!(this.edit_cat.cat_type == "0" || this.edit_cat.cat_type == "")){
									MainBase.showProgressBar();
									this.edit_cat.btn = false;
									var r_back = MainBase.saveCategoryChanges(this.edit_cat);
									r_back.then(response => {
										this.edit_cat.btn = true;
										MainBase.removeProgressBar();
										if(response.code == 200){
											MainBase.alert(response.status, response.message);
											this.GetTabCategories();
											if(response.hasOwnProperty('utfa')){
												MainBase.updateProcessDataString("utfa", response.utfa)
											}
										}
										if(response.code == 400){
											MainBase.alert(response.status, response.message);
										}
										if(response.code == 401){
											MainBase.alert(response.status, response.message);
											this.GoLogout();
										}
									});
								}else{
									MainBase.alert("warning", "Please select how you want the notes to be displayed (Series or Randomly).")
								}
							}else{
								MainBase.alert("warning", "Please the Maximum pcs of bread for each category is "+this.new_cat.max_amount+"pcs");
							}
						}else{
							MainBase.alert("warning", "Please the Mininum pcs of bread for each category is "+this.new_cat.min_amount+"pcs");
						}
					}else{
						MainBase.alert("warning", "You need to write a short description that is not more than 110 characters, so that others can have a clue of this category.");
					}
				}else{
					MainBase.alert("warning", "Category title should not be less than two (2) and not more than twenty (25) characters");
				}
			},
			GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			},
			GoMarketplace: function(){
				this.$router.push({name: 'marketplace'});
			},
			GoNotes: function(category){
				if(this.process_d.data.user.username){
					if((category.id) && (Number(category.id) > 0)){	
						let cat_slug = MainBase.getSlug(category.title);
						if(cat_slug.length > 0){
							this.$router.push({name: 'notes', params:{username: this.process_d.data.user.username, cat_id: category.id, cat_slug: cat_slug, cat_title: category.title}});
						}else{
							MainBase.alert("warning", "Please select a category");
						}
					}else{
						MainBase.alert("warning", "Please select a category");
					}
				}else{
					MainBase.alert("warning", "Sorry error, please login to continue");
					this.GoLogout();
				}
			},
			EditCategory: function(category){
				this.user_edit_category = true;
				this.edit_cat.cat_id = category.id;
				this.edit_cat.title = category.title;
				this.edit_cat.desc = category.description;
				this.edit_cat.amount = category.amount;
				this.edit_cat.cat_type = category.category_type_id;
				MainBase.scrollTo("top");
			},
			CancelEdit: function(){
				this.user_edit_category = false;
				MainBase.scrollTo("top");
			},
			DeleteCategory: function(category){
				let confirm_value =  window.confirm("Are you sure you want to Delete "+category.title+" category ? \n\nClick Ok to delete, otherwise cancel.");
				if(confirm_value){
					MainBase.showProgressBar();
					var r_back = MainBase.deleteUserCategory(category);
					r_back.then(response => {
						if(response.code == 200){
							MainBase.removeProgressBar();
							MainBase.alert(response.status, response.message);
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
							}
							if(this.user_categories.length > 0){
                                this.user_have_categories = true;
                                this.user_categories.forEach(element => {
                                    if(element.hasOwnProperty('id')){
                                        if(Number(category.id) == Number(element.id)){
                                            this.user_categories.splice(this.user_categories.indexOf(element),1);
                                        }
                                    }
								});
								if((Number(this.total_category_count) - 1) >= this.user_categories.length){
									this.user_have_categories = true;
									this.SeeMoreGetUserCategories();
									//this.show_more_btn.mycategories = true;
								}else{
									this.user_have_categories = false;
								}
                            }else{
                                this.user_have_categories = false;
							}
							
							
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}
			},
			GetTabChannels: function(){
				MainBase.scrollTo("top");
				this.GetUserChannels();
				this.GetSuggestedChannels();
			},
			GetTabCategories: function(){
				MainBase.scrollTo("top");
				this.GetUserCategories();
			},
			GetTabStore: function(){
				MainBase.scrollTo("top");
				MainBase.dismissAlert();
				this.GetUserStore();
			},
			GetUserStore: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username,
						last_tx_id: this.last_tx_id
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserStore(send_data);
					r_back.then(response => {
						if(response.code == 200){
							if(response.data.hasOwnProperty('store')){
								if(response.data.store.hasOwnProperty('pcs')){
									this.user_store = response.data.store.pcs;
									this.user_tx = response.data.store.tx;
									MainBase.updateStoreProcessDataString("store", response.data.store.pcs);
									
									if(this.user_tx.length > 0){
										this.user_have_tx = true;
										this.last_tx_id = response.data.store.last_tx;
										if(Number(response.data.store.tx_count) > this.user_tx.length){
											this.show_more_btn.mytx = true;
										}else{
											this.show_more_btn.mytx = false;
										}
									}else{
										this.user_have_tx = false;
									}
								}
							}
							this.doc_ready = true;
							MainBase.removeProgressBar();
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
							}
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			SeeMoreGetUserStore: function(){
				if(Number(this.last_tx_id) > 0){
					if(this.$route.params.username){
						let send_data = {
							slug: this.$route.params.username,
							last_tx_id: this.last_tx_id
						}
						MainBase.showProgressBar();
						var r_back = MainBase.seeMoreGetUserStore(send_data);
						r_back.then(response => {
							if(response.code == 200){
								if(response.data.hasOwnProperty('store')){
									if(response.data.store.hasOwnProperty('pcs')){
										this.user_store = response.data.store.pcs;
										
										this.total_tx_count = response.data.store.tx_count;
										this.last_tx_id = response.data.store.last_tx;
										
										if(this.user_tx.length > 0){
											this.user_have_tx = true;
											this.user_tx = this.user_tx.concat(response.data.store.tx);
										}else{
											this.user_have_tx = false;
											this.user_tx = response.data.store.tx;
										}
										if(Number(this.total_tx_count) > this.user_tx.length){
											this.show_more_btn.mytx = true;
										}else{
											this.show_more_btn.mytx = false;
										}
									}
								}
								MainBase.removeProgressBar();
								if(response.hasOwnProperty('utfa')){
									MainBase.updateProcessDataString("utfa", response.utfa)
								}
							}
							if(response.code == 400){
								MainBase.alert(response.status, response.message);
								MainBase.removeProgressBar();
							}
							if(response.code == 401){
								MainBase.alert(response.status, response.message);
								this.GoLogout();
								MainBase.removeProgressBar();
							}
						});
					}else{
						this.$router.push({name: 'home'})
					}
				}else{
					MainBase.alert("warning", "Seems you having little network glitch, please click the store tab");
				}
			},
			GetUserChannels: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username,
						last_channel_id: this.last_channel_id
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserChannels(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.user_channels = response.data.channels;
							if(this.user_channels.length > 0){
								this.user_have_channel = true;
								this.last_channel_id = response.data.last_channel;
								if(Number(response.data.channels_count) > (this.user_channels.length)){
									this.show_more_btn.mychannels = true;
								}else{
									this.show_more_btn.mychannels = false;
								}
							}else{
								this.user_have_channel = false;
							}
							this.doc_ready = true;
							MainBase.removeProgressBar();
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
							}
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			SeeMoreGetUserChannels: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username,
						last_channel_id: this.last_channel_id
					}
					this.show_more_btn.mychannels = false;
					MainBase.showProgressBar();
					var r_back = MainBase.seeMoreGetUserChannels(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.total_channel_count = response.data.count;
							this.last_channel_id = response.data.last_channel;
							if(this.user_channels.length > 0){
								this.user_channels = this.user_channels.concat(response.data.channels);
							}else{
								this.user_channels = response.data.channels;
							}
							if(Number(this.total_channel_count) > this.user_channels.length){
								this.show_more_btn.mychannels = true;
							}else{
								this.show_more_btn.mychannels = false;
							}
							if(this.user_channels.length > 0){
								this.user_have_channel = true;
							}else{
								this.user_have_channel = false;
							}
							
							MainBase.removeProgressBar();
							if(response.hasOwnProperty('utfa')){
								if(MainBase.updateProcessDataString("utfa", response.utfa)){
								}
							}
						}
						
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			GetSuggestedChannels: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username,
						last_suggested_channel_id: this.last_suggested_channel_id
					}
					MainBase.showProgressBar();
					var r_back = MainBase.getSuggestedChannels(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.suggested_channels = response.data.channels;
							if(this.suggested_channels.length > 0){
								this.last_suggested_channel_id = response.data.last_channel;
								this.suggested_channel_ready = true;
								MainBase.removeProgressBar();
							}else{
								MainBase.removeProgressBar();
							}
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
							}
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			SeeMoreGetSuggestedChannels: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username
					}
					MainBase.showProgressBar();
					var r_back = MainBase.seeMoreGetSuggestedChannels(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.suggested_channels = this.suggested_channels.concat(response.data.channels);
							MainBase.removeProgressBar();
							if(response.hasOwnProperty('utfa')){
								MainBase.updateProcessDataString("utfa", response.utfa)
							}
						}
						
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			GoUserCategories: function(userdata){
				this.$router.push({name: "usercategories", params: {username: userdata.username}});
			},
			GoLearningZone: function(l_category){
				this.$router.push({name: 'learningzone', params:{username: this.process_d.data.user.username, category:l_category}});
			},
			GoUserProfile: function(username){
				this.$router.push({name: 'profile', params: {username: username}});
			},
			GetUserCategories: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username,
						last_category_id: this.last_category_id
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserCategories(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.doc_ready = true;
							this.user_categories = response.data.categories;
							this.total_category_count = response.data.count;
							if(this.user_categories.length > 0){
								this.user_have_categories = true;
								this.last_category_id = response.data.last_category;
							}else{
								this.user_have_category = false;
							}
							if(Number(this.total_category_count) > this.user_categories.length){
								this.show_more_btn.mycategories = true;
							}else{
								this.show_more_btn.mycategories = false;
							}
							MainBase.removeProgressBar();
							if(response.hasOwnProperty('utfa')){
								if(MainBase.updateProcessDataString("utfa", response.utfa)){
								}
							}
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			},
			SeeMoreGetUserCategories: function(){
				if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username,
						last_category_id: this.last_category_id
					}
					MainBase.showProgressBar();
					var r_back = MainBase.seeMoreGetUserCategories(send_data);
					r_back.then(response => {
						if(response.code == 200){
							if(this.user_categories.length > 0){
								this.user_categories = this.user_categories.concat(response.data.categories);
							}else{
								this.user_categories = response.data.categories;
							}

							this.total_category_count = response.data.count;
							if(Number(this.total_category_count) > this.user_categories.length){
								this.show_more_btn.mycategories = true;
							}else{
								this.show_more_btn.mycategories = false;
							}

							if(this.user_categories.length > 0){
								this.user_have_categories = true;
							}else{
								this.user_have_categories = false;
							}
							MainBase.removeProgressBar();
							MainBase.scrollTo("top");
							if(response.hasOwnProperty('utfa')){
								if(MainBase.updateProcessDataString("utfa", response.utfa)){
								}
							}
						}
						if(response.code == 400){
							MainBase.alert(response.status, response.message);
							MainBase.removeProgressBar();
						}
						if(response.code == 401){
							MainBase.alert(response.status, response.message);
							this.GoLogout();
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	.row{
		margin-bottom: 0px !important;
	}
	.doc_not_ready{
		min-height: 200px !important;
		padding: 80px !important;
		text-align: center !important;
	}
    .search_row1{
        padding-top: 10px !important;
    }
	.search_div{
		width: 100%;
        min-height: 400px !important;
		
		#tl_channels{
			.card{
				cursor: pointer !important;
				margin: 0px !important;
				border-radius: 0px !important;
				.card-content{
					//background-color: $tertie
					min-height: 50px;
					padding: 5px !important; 
					font-size: 14px !important;

					img{
						height: 40px !important;
						width: 40px !important;
						border: solid 1px $primary-color !important;
						border-radius: 50% !important;
					}
					.channel_img{
						padding-top: 10px !important;
						text-align: center !important;
						max-height: 60px !important;
						min-height: 60px !important;
						background-color: $tertiary-color;
						background-position: center !important;
						background-size: contain !important;
						background-repeat: no-repeat !important;
						color: $primary-color;
						font-size: 20px;
						border-radius: 50% !important;
						border: solid 1px $primary-color !important;
					}
					.channel_info{
						padding-bottom: 5px !important;
						padding-left: 10px;
						max-height: 60px !important;
						min-height: 60px !important;
						overflow: hidden !important;
					}
					.channel_name{
						color: $primary-color;
					}
					.channel_bio{
						font-size: 12px !important;
					}
				}
				
				.see_more{
					text-align: center !important;
					background-color: whitesmoke;
					padding: 15px;
					a{
						color: $primary-color !important;
					}
				}

				
				div{
					padding: 1px;
					//margin: -0.px !important;
					//overflow: hidden;
				}
			}

			.people_might_know{
				.see_more{
					text-align: center !important;
					background-color: whitesmoke;
					padding: 15px;
					a{
						color: $primary-color !important;
					}
				}
				.pmk_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: white;
				}
				.card{
					cursor: pointer !important;
					margin: 0px !important;
					border-radius: 0px !important;
					.card-content{
						//background-color: $tertie
						min-height: 50px;
						padding: 5px !important; 
						font-size: 14px !important;

						img{
							height: 40px !important;
							width: 40px !important;
							border: solid 1px $primary-color !important;
							border-radius: 50% !important;
						}
						.channel_img{
							padding-top: 10px !important;
							text-align: center !important;
							max-height: 60px !important;
							min-height: 60px !important;
							background-color: $tertiary-color;
							background-position: center !important;
							background-size: contain !important;
							background-repeat: no-repeat !important;
							color: $primary-color;
							font-size: 20px;
							border-radius: 50% !important;
							border: solid 1px $primary-color !important;
						}
						.channel_info{
							padding-bottom: 5px !important;
							padding-left: 10px;
							max-height: 60px !important;
							min-height: 60px !important;
							overflow: hidden !important;
						}
						.channel_name{
							color: $primary-color;
						}
						.channel_bio{
							font-size: 12px !important;
						}
					}
				}

				
				div{
					padding: 1px;
					//margin: -0.91px !important;
					overflow: hidden;
				}
			}
		}

		
		#tl_categories{
			
			background-color: white !important;
			.categories{
				.input-field{
					margin: 0px !important;
				}
				.create_cat{
					.collapsible{
						border: none !important;
						box-shadow: none !important;

						.collapsible-header{
							color: $primary-color !important;
							border: none !important;
							font-weight: bold !important;
						}

						.collapsible-body{
							border:none !important;
						}
					}
					h6{
						font-weight: bold !important;
					}
					background-color: white;
					padding: 0px 20px 20px 20px;
					input{
						font-size: 12px !important;
						color: $primary-color;
					}
					textarea{
						//background: white;
						font-size: 12px !important;
						height: 80px !important;

					}
				}
				.edit_cat{
					h6{
						font-weight: bold !important;
					}
					background-color: white;
					padding: 0px 20px 20px 20px;
					input{
						font-size: 12px !important;
						color: $primary-color;
					}
					textarea{
						//background: white;
						font-size: 12px !important;
						height: 80px !important;

					}
				}
				div{
					padding: 1px;
					//margin: -0.95px !important;
					overflow: hidden;
				}
			}
			.mycategories{
				.mycat_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: white;
				}
				.no_categories{
					font-size: 20px !important;
					font-style: italic !important;
					text-align: center !important;
					padding: 50px !important;
					color: $primary-color !important;
				}

				.card{
					margin: 0px !important;
					border-radius: 0px !important;
					.card-content{
						//background-color: $tertie
						cursor: pointer !important;
						min-height: 50px;
						padding: 5px !important; 
						font-size: 14px !important;

						img{
							height: 40px !important;
							width: 40px !important;
							
							background-color: $primary-color;
							color: white;
						}
						.category_img{
							padding-top: 10px !important;
							text-align: center !important;
							max-height: 60px !important;
							min-height: 60px !important;
							background-color: $tertiary-color;
							color: $primary-color;
							font-size: 20px;
						}
						.category_info{
							padding-bottom: 5px !important;
							padding-left: 10px;
							max-height: 60px !important;
							min-height: 60px !important;
							overflow: hidden !important;
						}
						.category_name{
							color: $primary-color;
						}
						.category_bio{
							font-size: 12px !important;
						}
					}
					.card-action{
						padding: 5px !important; 
						font-size: 14px !important;
						color: $primary-color !important;
						span{
							cursor: pointer !important;
						}
						.rating{
							text-align: left;
							label{
								cursor: pointer !important;
							}
						}
						.btn_options{
							text-align: right;
						}
					}
				}
				div{
					padding: 1px;
					//margin: -0.95px !important;
					overflow: hidden;
				}
				.see_more{
					text-align: center !important;
					background-color: whitesmoke;
					padding: 15px !important;
					a{
						color: $primary-color !important;
					}
				}
			}
		}

		#tl_store{
			//background-color: white !important;
			.store_value{
				color: $primary-color !important;
				background-color: white;
				padding: 10px 20px;
				.info{
					text-align: right;
					font-style: italic;
					a{
						color: $primary-color;
						cursor: pointer;
						font-weight: bold;
					}
				}
				.amount{
					text-align: right !important;
					.total{
						font-weight: bold !important;
						font-size: 30px !important;
					}
				}
				.icon{
					font-size: 55px;
				}
			}
			.storehistory_title{
				padding: 20px;
				background-color: $secondary-color !important;
				color: white;
			}

			.no_store_history{
				padding: 20px !important;
			}
			.store_history{
				background-color: $tertiary-color;
				min-height: 200px;
					
				.store_history_log{		
					font-size: 12px !important;
					border-bottom: gray 1px solid !important;
					padding-top: 10px;
					padding-bottom: 10px;
					color: $primary-color;
					label{
						font-weight: bold;
					}
					.log_date{
						font-size: 11px !important;
					}
				}
				.see_more{
					text-align: center !important;
					background-color: whitesmoke;
					padding: 15px;
					a{
						color: $primary-color !important;
					}
				}
			}
			
			
		}
	}
    .page_content{
        min-height: 200px;
		padding: 40px;
		font-size: 15px;
    }

	.save_btn{
		width: 100% !important;
	}
	.cancel_btn{
		width: 100% !important;
	}

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 10px 10px 10px 10px;
			min-height: 20px;
		}
	}

	@media screen and (min-width: 500px){
		.m1{
			width: 5% !important;
		}
		.m11{
			width: 95% !important;
		}
	}
</style>