<template>
	<div class="sellbread">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div class="title"> Sell bread</div>
            <div class="description">
                We will help you sell your bread.
            </div>
		</section>
        <section class="page_content">
			<div class="main_content">
				<div class="row myoptions">
					<div class="col s12 myoption_title">
                        price: 1pcs = {{sale_settings.rate}} {{sale_settings.currency}}
                    </div>
				</div>
                <div  class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <div v-if="selling_stage_pending">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="first_message">
                                            <a :href="leanrbread_message_link">Click here</a> to send us a message and sell your bread directly to us.
                                        </p>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                            <div v-if="selling_stage.stageone">
                                <div class="input-field">
                                    <div>How many pcs do you want to sell ?</div>
                                    <input id="sell_pcs" type="text" v-model="sell_pcs" class="validate">
                                </div>
                                <div class="input-field">
                                    <div class="shipping-charge">
                                        <span class="ti ti-car"></span> {{shipping_fee}}pcs for shipping &nbsp; &nbsp;
                                        Total: <strong>{{Number(Number(shipping_fee) + Number(sell_pcs)).toLocaleString()+'pcs'}}</strong>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <button class="btn" v-on:click.prevent="GoStageTwo">Proceed</button>
                                </div>
                            </div>
                            <div v-if="selling_stage.stagetwo">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <div>
                                            <label><span class="ti ti-credit-card"></span> Sell</label>
                                        </div>
                                        <div>{{Number(sell_tx.sell_pcs).toLocaleString()+'pcs'}}</div>
                                    </div>
                                    
                                    <div class="input-field col s4">
                                        <div>
                                            <label><span class="ti ti-car"></span> Shipping</label>
                                        </div>
                                        <div>{{Number(sell_tx.sell_shipping).toLocaleString()+'pcs'}}</div>
                                    </div>
                                    
                                    <div class="input-field col s4 total_sell">
                                        <div>
                                            <label>Total</label>
                                        </div>
                                        <div>{{Number(sell_tx.sell_total).toLocaleString()+'pcs'}}</div>
                                    </div>
                                    
                                    <div class="col s12">
                                        <div>
                                            Choose your Bank
                                        </div>
                                        <div>
                                            <select class="browser-default" type="text" name="country" id="country" v-model="bank_selected">
                                                <option value="" disabled="disabled" selected="selected" > -- Select bank -- </option>
                                                <option value="1" selected="" >Access Bank</option>
                                                <option value="2" selected="" >Union Bank</option>
                                                <!--option v-bind:key="parentcat.id" v-for="parentcat in parent_cat" :value="parentcat.id">{{parentcat.title}}</option-->
                                            </select>
                                        </div>
                                    </div>
                                    <div v-if="bank_selected">
                                        <div class="input-field col s12">
                                            <div>Name</div>
                                            <input id="account_name" type="text" v-model="bank_account_name" class="validate" placeholder="Enter account name">
                                        </div>
                                        <div class="input-field col s12">
                                            <div>Account number</div>
                                            <input id="account_number" type="text" v-model="bank_account_number" class="validate" placeholder="Enter account number">
                                        </div>
                                        <div class=" col s12 m12">
                                            <div>
                                                <label>Please confirm that the bank detail provided are correct.</label>
                                            </div>
                                            <p class="other_option">
                                                <label v-on:click.prevent="IhaveConfirmed()">
                                                    <input type="checkbox" class="filled-in" v-model="iconfirm"/>
                                                    <span class="other_option">Yes I have confirmed&nbsp;</span>
                                                </label>
                                            </p>
                                        </div>
                                        
                                        <div class="input-field col s12" v-if="iconfirm">
                                            <div>
                                                <label>Enter your {{app_name}} Password to confirm it's you selling</label>
                                            </div>
                                            <input id="sell_password" type="password" v-model="verifyisme" class="validate" placeholder="Enter your password">
                                        </div>
                                        <div class="input-field col s12" v-if="iconfirm">
                                            <button class="btn" v-on:click.prevent="GoMakeSell" :disabled="sell_btn ? false : true">Sell bread</button>
                                        </div>
                                    </div>
                                    <div class="col s12 right"><br/>
                                        <button class="btn btn-flat right" v-on:click.prevent="GoStageOne"> Back</button>
                                    </div>
                                </div>
                            </div>
                            <div v-if="selling_stage.stagethree">
                                <div class="row sell_complete">
                                    <div class="col s12 sell_success" v-if="sales_success">
                                        <h3><span class="ti ti-check"></span></h3>
                                        <strong>
                                            <h4>Completed</h4>
                                        </strong>
                                        <h5>
                                            Your sales of
                                            <strong>
                                                {{sale_settings.currency}}
                                                {{Number(Number(this.sell_tx.sell_pcs) * Number(this.sale_settings.rate)).toLocaleString()}}
                                            </strong>
                                            has been sent to your bank account.
                                        </h5>
                                        <p> Thank you, and continue making positive impact wherever you find yourself.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "sellbread",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
                app_name: this.$appName,
                leanrbread_message_link: "https://wa.me/message/A2BO27GWRLR6F1",
                learnbread_page_link: "https://wa.me/message/A2BO27GWRLR6F1",
				profile_data: "",
				user_categories: "",
				doc_ready: false,
				user_have_categories: false,
                is_my_profile: false,
                selling_stage_pending: true,
                selling_stage:{
                    stageone: false,
                    stagetwo: false,
                    stagethree: false
                },
                sales_success: false,
                sell_pcs: 500,
                shipping_fee: 50,
                sale_settings:{
                    rate: '1',
                    currency: 'NGN',
                    min: '500',
                    max: '5000',
                    shipping_fee: '50'
                },
                sell_tx:{
                    sell_pcs: "",
                    sell_shipping: "",
                    sell_total: ""
                },
                banks: "",
                bank_selected:"",
                bank_account_number: "",
                bank_account_name: "",
                iconfirm: false,
                verifyisme:"",
                sell_btn: true
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    MainBase.removeProgressBar();
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
            GoStageOne: function(){
                this.CloseAllStage();
                this.selling_stage.stageone = true;
                this.verifyisme = "";
                MainBase.scrollTo("top");
            },
            IhaveConfirmed: function(){
                if((this.bank_selected) && (this.bank_account_number.length > 5) && (this.bank_account_name.length > 5)){
                    if(isNaN(this.bank_account_number)){
                        MainBase.alert("warning", "Your account number is supposed to be only numbers");
                    }else{
                        this.iconfirm = !this.iconfirm;
                    }
                }else{
                    MainBase.alert("warning", "Please provide valid bank details");
                }
            },
            CloseAllStage: function(){
                for (const key in this.selling_stage) {
                    if (this.selling_stage.hasOwnProperty(key)) {
                        this.selling_stage[key] = false;
                    }
                }
            },
			GoStageTwo: function(){
                if(isNaN(this.sell_pcs)){
                    MainBase.alert("warning", "Sorry we only sell whole pieces and ensure you provide the pcs in numbers");
                }else{
                    if(Number(this.sell_pcs) >= Number(this.sale_settings.min)){
                        if(Number(this.sell_pcs) <= Number(this.sale_settings.max)){
                            this.sell_tx.sell_pcs = Number(this.sell_pcs);
                            this.sell_tx.sell_shipping = Number(this.shipping_fee);
                            this.sell_tx.sell_total = Number(this.sell_pcs) + Number(this.shipping_fee);
                            
                            if((this.process_d.data.user.store_total) && (Number(this.process_d.data.user.store_total) >= Number(this.sell_tx.sell_total))){
                                this.CloseAllStage();
                                this.selling_stage.stagetwo = true;

                                //MainBase.alert("info", "We have "+this.process_d.data.user.store_total);
                            }else{
                                MainBase.alert("warning", "Please "+this.process_d.data.user.fullname.split(" ")[0]+", go to Home to confirm you have "+Number(this.sell_tx.sell_total).toLocaleString() +"pcs in your Store");
                            }
                        }else{
                            MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", the highest pcs we can deliver now is "+this.sale_settings.max+"pcs.");
                        }
                    }else{
                        MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", we can't buy less than "+this.sale_settings.min+"pcs for now, because it will cost us more to ship "+this.sell_pcs+"pcs.");
                    }
                }
			},
			GoNotes: function(category){

            },
            GoBuybread: function(){

            },
            GoMakeSell: function(){
                if(Number(this.sell_pcs) >= Number(this.sale_settings.min)){
                    if(Number(this.sell_pcs) <= Number(this.sale_settings.max)){
                        this.sell_tx.sell_pcs = this.sell_pcs;
                        this.sell_tx.sell_shipping = this.shipping_fee;
                        this.sell_tx.sell_total = Number(this.sell_pcs) + Number(this.shipping_fee);
                        
                        if((this.process_d.data.user.store_total) && (Number(this.process_d.data.user.store_total) >= Number(this.sell_tx.sell_total))){
                            if((this.bank_selected) && (this.bank_account_number.length > 5) && (this.bank_account_name.length > 5)){
                                if(isNaN(this.bank_account_number)){
                                    MainBase.alert("warning", "Your account number is supposed to be only numbers");
                                }else{
                                    if(this.iconfirm){
                                        if(this.verifyisme.length > 5){
                                            MainBase.showProgressBar();
                                            this.sell_btn = false;
                                            this.CloseAllStage();
                                            this.selling_stage.stagethree = true;
                                            this.sales_success = true;
                                            MainBase.scrollTo("top");
                                        }else{
                                            MainBase.alert("warning", "Sorry wrong password");
                                        }
                                    }else{
                                        MainBase.alert("warning", "Please you need to confirm your account number");
                                    }
                                }
                            }else{
                                MainBase.alert("warning", "Please provide valid bank details");
                            }
                            //MainBase.alert("info", "We have "+this.process_d.data.user.store_total);
                        }else{
                            MainBase.alert("warning", "Please "+this.process_d.data.user.fullname.split(" ")[0]+", go to Home to confirm you have "+Number(this.sell_tx.sell_total) +"pcs in your Store");
                        }
                    }else{
                        MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", the highest pcs we can deliver now is "+this.sale_settings.max+"pcs.");
                    }
                }else{
                    MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", we can't buy less than "+this.sale_settings.min+"pcs for now, because it will cost us more to ship "+this.sell_pcs+"pcs.");
                }
            },
            GoSendbread: function(){

            },
			GoLearningZone: function(l_category){
				this.$router.push({name: 'learningzone', params:{username: this.$route.params.username, category:l_category}});
			},
			GetProfileData: function(){
                if((this.$route.params.username) && (this.$route.params.username.length > 3)){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserProfile(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.profile_data = response.data.profile;
							this.doc_ready = true;
							MainBase.removeProgressBar();
							if(this.profile_data.username == this.process_d.data.user.username){
								this.is_my_profile = true;
							}
						}else{
							MainBase.alert("error", response.message);
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
            },
            GetUserCategories: function(){
                if(this.$route.params.username){
					let send_data = {
						slug: this.$route.params.username
					}
					this.doc_ready = false;
					MainBase.showProgressBar();
					var r_back = MainBase.getUserCategories(send_data);
					r_back.then(response => {
						if(response.code == 200){
							this.user_categories = response.data.categories;
							this.user_have_categories = true;
                            this.doc_ready = true;
							MainBase.removeProgressBar();
						}else{
							MainBase.alert("error", response.message);
							MainBase.removeProgressBar();
						}
					});
				}else{
					this.$router.push({name: 'home'})
				}
            }
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
        min-height: 400px;
		font-size: 15px;
		padding: 2px 0px 10px 0px;

        a{
            color: $primary-color !important;
            text-decoration: underline !important;
        }
        
        .first_message{
            font-size: 20px !important
        }
        
        .main_content{
			.myoptions{
                margin-bottom: 0px !important;
                .myoption_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: antiquewhite !important;
                    font-size: 12px;
                    text-align: center;
                }				
			}
            .card{
                input #sell_pcs{
                    font-size: 30px !important;
                    color: $primary-color;
                }
                margin: 0px !important;
                border-radius: 0px !important;
                .card-content{
                    .ti-check{
                        border: 1px $primary-color solid !important;
                        border-radius: 100% !important;
                        padding: 15px !important;
                        background-color: $primary-color !important;
                        color: white;
                    }
                    padding: 20px 5px !important; 
                    font-size: 14px !important;
                    .shipping-charge{
                        color: $primary-color;
                        overflow: hidden !important;
                    }
                    .total_sell{
                        font-weight: bold !important;
                        background-color: $tertiary-color !important;
                    }
                    .sell_complete{
                        text-align: center !important;
                        color: $primary-color;
                    }
                }
                .card-action{
                    padding: 5px !important; 
                    font-size: 14px !important;
                    color: $primary-color !important;
                    span{
                        cursor: pointer !important;
                    }
                    .rating{
                        text-align: left;
                    }
                    .btn_options{
                        text-align: right;
                    }
                }
            }
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 2px 0px 10px 0px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>