<template>
	<div class="sendbread">
		<MainMenu/>
		<section class="page_banner" :style="{backgroundImage: 'url(' + require('@/images/slides/banner.jpg') + ')'}">
			<div class="title"> Share bread</div>
            <div class="description">
                Share bread with your friends.
            </div>
		</section>
        <section class="page_content">
			<div class="main_content">
				<div  class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <div v-if="sending_stage.stageone">
                                <div class="input-field">
                                    <div>
                                        <strong>
                                            Receiver email
                                        </strong>
                                    </div>
                                    <input type="text" v-model.trim="to_email" class="validate" placeholder="Enter the receiver email"/>
                                </div>
                                <div class="input-field">
                                    <div>How many pcs of bread ?</div>
                                    <input type="text" v-model="to_pcs" class="validate" :placeholder="send_settings.min"/>
                                </div>
                                <div class="input-field">
                                    <button class="btn" v-on:click.prevent="GoStageTwo" :disabled="send_bread_stg1.btn ? false : true">Proceed</button>
                                </div>
                            </div>
							<div v-if="sending_stage.stagetwo">
                                <div class="row">
                                    <div class="col s12">
                                        <h5>Confirm your sending</h5>
                                    </div>
                                    <div class="col s12">
                                        <strong>Receiver</strong>
                                    </div>
                                    <div class="col s3">
                                        <div class="channel_img" :style="{backgroundImage: 'url(' + require('@/images/avatar.png') + ')'}">
                                            <span>{{confirm_sending.fullname[0]}}</span>
                                        </div>
                                    </div>
                                    <div class="col s9">
                                        {{confirm_sending.fullname}} (<label>{{confirm_sending.username}}</label>)<br/>
                                        <label>{{confirm_sending.email}}</label>
                                    </div>
                                    <div class="col s12 send_brief">
                                        <strong>Sending Summary</strong>
                                    </div>
                                    <div class="col s12 send_brief">
                                        Send: {{Number(confirm_sending.send_pcs).toLocaleString()}}pcs <br/>
                                        <label>Shipping: {{confirm_sending.shipping_fee}}pcs</label><br/>
                                        <strong>
                                            Total: {{ Number(Number(confirm_sending.send_pcs) + Number(confirm_sending.shipping_fee)).toLocaleString()}}pcs
                                        </strong>
                                    </div>
                                    <div class="col s12">
                                        <br/>
                                        <label>
                                            Please confirm these info. are correct, before you proceed.
                                        </label>
                                    </div>
                                    <div class="col s12">
                                        <input id="send_password" type="password" v-model="verifyisme" class="validate" placeholder="Enter your password">
                                    </div>
                                </div>
                                <div class="input-field">
                                    <button class="btn" v-on:click.prevent="GoSendBread" :disabled="send_bread_pr.btn ? false : true">Yes, Send bread</button>
                                </div>
                                <div class="right">
                                    <button class="btn btn-flat right" v-on:click.prevent="GoStageOne"> Back</button>
                                </div>
                            </div>
                            <div v-if="sending_stage.stagethree">
                                <div class="row sell_complete">
                                    <div class="col s12 sell_success" v-if="send_success">
                                        <h3><span class="ti ti-check"></span></h3>
                                        <strong>
                                            <h4>Bread sent successful</h4>
                                        </strong>
                                        <h5>
                                            <strong>
                                                {{Number(Number(this.send_tx.send_pcs) * Number(this.send_settings.rate)).toLocaleString()}}pcs
                                            </strong>
                                            has been sent to {{this.to_email.toLowerCase()}}
                                        </h5>
                                        <p> Thank you, and continue making positive impact wherever you find yourself.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	import MainBase from "@/services/controller/MainBase.js";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

	export default {
		name: "sendbread",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
			return{
				app_name: this.$appName,
				sending_stage:{
                    stageone: true,
                    stagetwo: false,
                    stagethree: false
                },
                send_success: false,
				to_email: "",
                to_pcs: "",
				send_pcs: "",
                send_settings:{
                    rate: '1',
                    currency: 'NGN',
                    min: '200',
                    max: '5000',
                    shipping_fee: '50'
                },
                send_tx:{
                    send_pcs: "",
                    send_email: "",
                    send_total: "",
                    send_shipping: ""
                },
                send_btn: true,
                verifyisme: "",
                confirm_sending:{
                    email: "",
                    username: "",
                    fullname: "",
                    send_pcs: "",
                    shipping_fee: "",
                    total: ""
                },
                send_bread_pr:{
                    btn: true
                },
                send_bread_stg1:{
                    btn: true
                }
			};
		},
		computed: {
			...mapGetters({ process_d: 'PROCESS_DATA_G'})
		},
		created: function(){
			if(MainBase.userLoggedIn()){
                let dp_data = JSON.parse(localStorage.getItem('process_data'));
                if(dp_data){
                    this.updateProcessData_A(dp_data);
                    MainBase.removeProgressBar();
				}else{
                    this.$router.push({name: 'home'});
				}
			}
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(function(){
				MainBase.scrollTo("top");
			}, 1000);
			//MainBase.alert("success", "31pcs added to your reserve. Keep learning.");
		},
		methods: {
            ...mapActions(['updateProcessData_A']),
            ...mapActions(['logoutUser_A']),
			
            GoStageOne: function(){
                this.CloseAllStage();
                this.sending_stage.stageone = true;
                MainBase.scrollTo("top");
                this.send_bread_stg1.btn = true;
            },
			GoStageTwo: function(){
                if(this.to_email.length > 10){
                    if((this.to_email.split("@")[1].toLowerCase()) == "gmail.com"){
                        if(isNaN(this.to_pcs)){
                            MainBase.alert("warning", "Sorry you can only send whole pieces and ensure you provide the pcs in numbers");
                        }else{
                            if(Number(this.to_pcs) >= Number(this.send_settings.min)){
                                if(Number(this.to_pcs) <= Number(this.send_settings.max)){
                                    if(this.process_d){
                                        if(this.process_d.hasOwnProperty('data')){
                                            if(this.process_d.data.hasOwnProperty('user')){
                                                if(this.process_d.data.user.hasOwnProperty('store')){
                                                    let t_pcs = Number(this.send_settings.shipping_fee) + Number(this.to_pcs);
                                                    if(Number(this.process_d.data.user.store) >= (t_pcs)){
                                                        let send_data = {
                                                            send_pcs: this.to_pcs,
                                                            send_email: this.to_email
                                                        }
                                                        MainBase.showProgressBar();
                                                        this.send_bread_stg1.btn = false;
                                                        var r_back = MainBase.confirmUserSending(send_data);
                                                        r_back.then(response => {
                                                            MainBase.removeProgressBar();
                                                            if(response.code == 200){
                                                                this.confirm_sending.email = response.data.receiver.email;
                                                                this.confirm_sending.username = response.data.receiver.username;
                                                                this.confirm_sending.fullname = response.data.receiver.fullname;
                                                                this.confirm_sending.send_pcs = response.data.receiver.send_pcs;
                                                                this.confirm_sending.shipping_fee = response.data.receiver.shipping_fee;
                                                                this.confirm_sending.total = response.data.receiver.total;
                                                                this.CloseAllStage();
                                                                this.sending_stage.stagetwo = true;

                                                                if(response.hasOwnProperty('utfa')){
                                                                    MainBase.updateProcessDataString("utfa", response.utfa)
                                                                }
                                                            }
                                                            if(response.code == 400){
                                                                this.send_bread_stg1.btn = true;
                                                                MainBase.alert(response.status, response.message);
                                                            }
                                                            if(response.code == 401){
                                                                this.send_bread_stg1.btn = true;
                                                                MainBase.alert(response.status, response.message);
                                                                this.GoLogout();
                                                            }
                                                        });
                                                    }else{
                                                        MainBase.alert("warning", "Sorry, you do not have sufficient bread in your store.");
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }else{
                                    MainBase.alert("warning", "Sorry, the maximum pcs you can share is "+this.send_settings.max);
                                }
                            }else{
                                MainBase.alert("warning", "Sorry, the minimum pcs you can share is "+this.send_settings.min);
                            }
                        }
                    }else{
                        MainBase.alert("warning", "Please ensure receiver email is correct (only Gmail address).")
                    }
                }else{
                    MainBase.alert("warning", "Please provide a valid email address");
                }
            },
            GoSendBread: function(){
                if(Number(this.confirm_sending.send_pcs) >= Number(this.send_settings.min)){
                    if(Number(this.confirm_sending.send_pcs) <= Number(this.send_settings.max)){
                        this.send_tx.send_pcs = Number(this.confirm_sending.send_pcs);
                        this.send_tx.send_email = this.confirm_sending.email;
                        this.send_tx.send_shipping = Number(this.confirm_sending.shipping_fee);
                        this.send_tx.send_total = Number(this.confirm_sending.send_pcs) + Number(this.confirm_sending.shipping_fee);
                        
                        if(this.verifyisme.length > 5){
                            if((this.process_d.data.user.store) && (Number(this.process_d.data.user.store) >= Number(this.send_tx.send_total))){
                                this.send_bread_pr.btn = false;
                                MainBase.showProgressBar();
                                this.send_tx['verifyisme'] = this.verifyisme;
                                var r_back = MainBase.shareBread(this.send_tx);
                                r_back.then(response => {
                                    this.send_bread_pr.btn = true;    
                                    MainBase.removeProgressBar();
                                    if(response.code == 200){

                                        this.send_bread_pr.btn = true;
                                        this.CloseAllStage();
                                        
                                        this.sending_stage.stagethree = true;
                                        this.send_success = true;
                                        MainBase.scrollTo("top");
                                        

                                        if(response.hasOwnProperty('utfa')){
                                            MainBase.updateProcessDataString("utfa", response.utfa)
                                        }
                                    }
                                    if(response.code == 400){
                                        MainBase.alert(response.status, response.message);
                                    }
                                    if(response.code == 401){
                                        MainBase.alert(response.status, response.message);
                                        this.GoLogout();
                                    }
                                });
                            }else{
                                MainBase.alert("warning", "Please "+this.process_d.data.user.fullname.split(" ")[0]+", go to Home and confirm you have "+Number(this.send_tx.send_total) +"pcs in your Store");
                            }
                        }else{
                            MainBase.alert("warning", "Please enter a valid password to confirm your sending.");                            
                        }
                    }else{
                        MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", the highest pcs we can deliver now is "+this.send_settings.max+"pcs.");
                    }
                }else{
                    MainBase.alert("warning", "Hi "+this.process_d.data.user.fullname.split(" ")[0]+", we can't buy less than "+this.send_settings.min+"pcs for now, because it will cost us more to ship "+this.sell_pcs+"pcs.");
                }
            },
            
            CloseAllStage: function(){
                for (const key in this.sending_stage) {
                    if (this.sending_stage.hasOwnProperty(key)) {
                        this.sending_stage[key] = false;
                    }
                }
            },
            GoBuybread: function(){

            },
            GoLogout: function(){
				this.logoutUser_A().then(data =>{
					this.$router.push({name: 'getstarted'});
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	.page_banner{
        color: antiquewhite !important;
        min-height: 200px;
        text-align: center;
        padding-top: 50px;
		
		background-color: $primary-color !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;

        hr{
            width: 40% !important;
            color: white;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
	}

    .page_content{
        min-height: 400px;
		font-size: 15px;
		padding: 2px 0px 10px 0px;
        background-color: white !important;
        .send_brief{
            text-align: right !important;
        }
        .main_content{
            .channel_img{
                padding-top: 10px !important;
                text-align: center !important;
                max-height: 60px !important;
                min-height: 60px !important;
                background-color: $tertiary-color;
                background-position: center !important;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                color: $primary-color;
                font-size: 20px;
                border-radius: 50% !important;
                border: solid 1px $primary-color !important;
                max-width: 60px !important;
            }
			.myoptions{
                margin-bottom: 0px !important;
                .myoption_title{
					padding: 20px;
					background-color: $secondary-color !important;
					color: antiquewhite !important;
                    font-size: 12px;
                    text-align: center;
                }				
			}
            .card{
                input #buy_pcs{
                    font-size: 30px !important;
                    color: $primary-color;
                }
                margin: 0px !important;
                border-radius: 0px !important;
                .card-content{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    padding: 10px 5px !important; 
                    font-size: 14px !important;
                    .shipping-charge{
                        color: $primary-color;
                        overflow: hidden !important;
                    }
                    .total_sell{
                        font-weight: bold !important;
                        background-color: $tertiary-color !important;
                    }
                    .sell_complete{
                        text-align: center !important;
                        color: $primary-color;
                    }
                }
                .card-action{
                    padding: 5px !important; 
                    font-size: 14px !important;
                    color: $primary-color !important;
                    span{
                        cursor: pointer !important;
                    }
                    .rating{
                        text-align: left;
                    }
                    .btn_options{
                        text-align: right;
                    }
                }
            }
        }
    }

	@media screen and (max-width: 500px) {
		.page_content {
			padding: 2px 0px 10px 0px;
		}
		.page_banner{
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100px;
			.title{
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
</style>