<template>
  <div id="app">
    <!--div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div-->
    <router-view />
  </div>
</template>

<style lang="scss">
@import "@/assets/plugins/materialize/sass/materialize.scss";

#app {
  //font-family: 'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif !important;
  //font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  //background-color: #d4b996 !important;
  background-color: $tertiary-color !important;
}

a{
  cursor: pointer !important;
}
h1, h2, h3, h5, h6 {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important
}
strong{
  font-weight: bold !important;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

textarea{
  min-height: 50px !important;
}

.toast{
  padding-right: 30px !important;
}
.toast_success{
  background-color: #527352 !important;
}
.toast_error{
  background-color: #d71010 !important;
}
.toast_info{
  background-color: #74ccf5 !important;
  color: $primary-color !important;
}
.toast_warning{
  background-color: #f7de8c !important;
  color: $primary-color !important;
}
.close_toast{
  font-size: 12px !important;
  color: $primary-color !important;
  background-color: $tertiary-color !important;
  padding: 3px !important;
}

select.browser-default{
  border: 0px !important;
  border-bottom: 1px solid $primary-color !important;
  border-left: 1px solid $primary-color !important;
  background-color: transparent !important;
}

select.browser-default:focus{
  outline: none !important;
}

button, .btn{
  cursor: pointer !important;
}

@media screen and (max-width: 500px) {
  .toast{
    position: fixed !important;
    margin-top: 60px !important;
  }

}
</style>